/*Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none !important;
}

/*root variable*/
:root {
    --color-Primary-White-1: rgba(255, 255, 255, 1);
    --color-Primary-White-2: rgba(248, 248, 248, 1);
    --color-Primary-White-3: rgba(238, 238, 238, 1);
    --color-Primary-White-4: rgba(224, 224, 224, 1);
    --color-Primary-White-5: rgba(204, 204, 204, 1);
    --color-Primary-White-6: rgba(172, 172, 172, 1);

    --color-Primary-Black-1: rgba(0, 0, 0, 1);
    --color-Primary-Black-2: rgba(103, 103, 103, 1);
    --color-Primary-Black-3: rgba(74, 74, 74, 1);
    --color-Primary-Black-4: rgba(58, 58, 58, 1);
    --color-Primary-Black-5: rgba(44, 44, 44, 1);
    --color-Primary-Black-6: rgba(31, 31, 31, 1);

    --color-Semantic-Green: rgba(50, 205, 140, 1);
    --color-Semantic-Red: rgba(233, 28, 65, 1);
}

html {
    font-size: 62.5%;
}

body {

    font-size: 1.2rem;
    background-color: var(--color-Primary-White-2);
    overflow-x: hidden !important;
}

h1,
h2,
h3 {
    color: var(--color-Primary-Black-1);
    font-weight: 700;
}


/*Base in Mobile Version*/

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

/* About-us header style */

.about-us-header {
    width: 100%;
    height: auto;
    display: flex;
    padding-top: 4.8rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-Primary-Black-1);
}

.h1-header {
    width: 100%;
    background-color: var(--color-Primary-Black-1);
    display: flex;
    justify-content: center;
    padding: 4.8rem 3rem 0 3rem;
    position: relative;
}

.h1-header-about-us {

    width: 100%;
    color: var(--color-Primary-White-1);
    font-size: 3.2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
}

.p-header2 {
    width: 100%;
    height: auto;
    background-color: var(--color-Primary-Black-1);
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.p-header-about-us {

    width: 100%;
    color: var(--color-Primary-White-1);
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    justify-content: center;
    font-weight: 300;
    line-height: 180%;
    text-align: justify;
    letter-spacing: -0.02em;

}

/* Statistic style */
.statistics {
    width: 100%;
    background-color: var(--color-Primary-Black-1);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    margin-top: -1px;
}
.statistics-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    color: var(--color-Primary-White-1);
    margin-bottom: 3.6rem;
}
.h1-statistics {
    font-size: 3.2rem;
    font-weight: 300;
    margin-bottom: 0;
}
.p-statistics {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-Primary-White-6);
    padding-left: 1.6rem;
}
.Main-p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15.2rem;
    background-color: var(--color-Primary-Black-6);
    color: var(--color-Primary-White-1);
    font-size: 1.4rem;
}
.Main-p-statistics {
    width: 90%;
    padding: 0 1rem 0 3rem;
}
.color-p {
    background-color: var(--color-Primary-Black-5);
    width: 10%;
    height: 15.2rem;
    margin-right: 0;
}

.Main-statistics {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15.2rem;
    background-color: var(--color-Primary-Black-5);
    color: var(--color-Primary-White-1);
    font-size: 1.4rem;
}

.color-p-statistics {
    background-color: var(--color-Primary-Black-6);
    width: 10%;
    height: 15.2rem;
    margin-right: 0;
}
.Main-h1-statistics {
    display: flex;
    font-size: 3.2rem;
    font-weight: 300;
}
.Main-statistics2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Main-p-statistics2 {
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--color-Primary-White-6);
    margin-top: -12px;
}

.about-img {
    width: 100%;
    height: 46rem;
    object-fit: cover;
}


/* Header Statistic,reponsive */
@media screen and (min-width:1200px) {
    .about-header-content {
        width: 100%;
        height: auto;
        display: flex;
        padding-top: 8rem;
    }
    .about-header-content-right {
        width: 50%;
        height: 872px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

    }
    .about-header-content-left {
        width: 50%;
        height: 872px;
    }

    .p-header2 {
        height: auto;
        background-color: var(--color-Primary-Black-1);
        display: flex;
        justify-content: center;
        padding: 0 9rem 0 3.2rem;
    }

    .statistics {

        padding: 0 9rem 0 3rem;
        display: flex;
        justify-content: space-between;
    }

    .statistics-detail {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: var(--color-Primary-White-1);
        margin-bottom: 0;


    }

    .h1-statistics {
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 0;
        display: flex;

    }

    .p-statistics {
        font-size: 1.4rem;
        font-weight: 300;
        color: var(--color-Primary-White-6);
        padding-left: 1.6rem;
    }

    .Main-p {
        width: 100%;
        font-size: 1.8rem;
        height: 14rem;
    }
    .Main-p-statistics {
        padding: 0 4.8rem;

    }
    .Main-statistics {
        height: 14rem;
    }

    .Main-statistics2 {
        margin-bottom: 0;
        padding-bottom: 0px;
    }

    .color-p {
        height: 14rem;
    }

    .color-p-statistics {
        height: 14rem;
    }

    .about-us-img-header {
        width: 100%;
    }

    .about-img {
        width: 100%;
        height: 872px;
        object-fit: cover;
    }

}


/*Feature*/

.feature {
    display: flex;
    width: 100%;
    margin-top: 4.8rem;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 0 3rem;
}

.h1-feature {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 3.2rem 3rem 3rem 3rem;
}

.h1-feature-text {
    width: 100%;
    height: auto;
    color: var(--color-Primary-Black-1);
    font-size: 2rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;

}

.feature-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    text-align: justify;
    letter-spacing: -0.02em;
    margin-top: 4.8rem;
    color: var(--color-Primary-Black-1);

}

.feature-text {
    margin-top: 3.2rem;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 180%;
    text-align: justify;
    letter-spacing: -0.02em;
    color: var(--color-Primary-Black-1);

}

.feature-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-left-img {
    margin-top: 4.8rem;
    width: 100%;
}


.feature-left {
    margin-bottom: 6.4rem;
}

.feature-date {
    width: 208px;
    height: 40px;
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    display: flex;


}

.feature-img {
    width: 344px;
    height: 308px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.feature-img-3 {
    width: 358px;
    height: 197px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.feature-img-5 {
    width: 350px;
    height: 257px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.p-feauter-head {
    width: 40%;
    height: auto;
    margin-right: 2.4rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-weight: 300;
}

.date-feauter-head {
    width: 70%;
    height: auto;
    margin-left: 2.4rem;
    margin-top: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1rem;
    font-weight: 300;
}


.icon-feauter-head {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: .8rem;
    margin-bottom: .5rem;
}

.L-i{
   position: relative;
   height: 2.6rem;
   top:18%;
   right: 1rem;
}

.feature-btn {
    width: 100%;
    height: 4.8rem;
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.feature-btn:hover{
    background-color: var(--color-Primary-White-1);
    color: var(--color-Primary-Black-1);
    border: 1.5px solid var(--color-Primary-Black-1);
}

.feature-btn-secondry {
    width: 100%;
    height: 4.8rem;
    background-color: var(--color-Primary-White-2);
    color: var(--color-Primary-Black-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--color-Primary-Black-1);
    font-size: 1.4rem;
    font-weight: 600;
}

.feature-btn-secondry:hover {
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    border:0;
}
/* Feautre responsive */
@media screen and (min-width:1024px) {
    .feature {
        padding: 0 9rem;
        margin-top: 100px;
    }

    .feature-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 8rem;
    }

    .feature-row-revers {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        margin-bottom: 8rem;

    }

    .feature-right {
        width: 48%;
    }

    .feature-left {
        width: 48%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .feature-text {
        padding-left: 8rem;
    }

    .h1-feature-text {
        font-size: 4rem;
        letter-spacing: -0.02em;
    }

    .feature-left-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        object-fit: cover;
    }

    .feature-img {
        width: 536px;
        height: 480px;
    }

    .feature-img-3 {
        width: 100%;
        height: auto;
    }

    .feature-img-5 {
        width: 656px;
        height: 481px;

    }

    .phas-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .phas-5-button {
        width: 100%;
    }


}

/* FAQ style */
.FAQ-drop-down {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 8rem;
    padding: 0 3rem;
}

.question-text {
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Primary-Black-1);
    padding: 1.6rem 0;
    margin: 0 !important;
}

.answer-text {
    width: 100%;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 180%;
    text-align: justify;
    letter-spacing: -0.02em;
    color: #676767;
}


.accordion {
    width: 100%;
    background: var(--color-Primary-White-1);
    padding: 0 1.6rem;
    margin-top: 1.6rem;

}

.accordion .link {
    cursor: pointer;
    display: block;
    color: var(--color-Primary-White-6);
    font-size: 1.4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d; 
}

.accordion li.open i {
    color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

  
.submenu {
    display: none;
    width: 100%;
    padding: 0 1.8rem;

}

.submenu a {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}


/* Responsive FAQ */

@media screen and (min-width:1024px) {

    .FAQ-drop-down {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 8rem;
        padding: 0 9rem;
    }

    .question-text {
        font-size: 1.4rem;
        line-height: 180%;
        padding: 2.4rem 2rem;
        margin: 0 !important;
    }

    .answer-text {
        font-size: 1.4rem;
    }

    .accordion .link {
       
        padding-left: 1.6rem;
    }


}



/* Map style */
.Map {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.IranMap {
    width: 100%;
    height: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
}

.p-IranMap-text {
    width: 100%;
    padding: 0 3rem;
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.02em;
    color: #676767;
}

.Map-svg {
    position: relative;
}

.store-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 162px;
    height: 120px;
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(48px);
    position: absolute;
    top: 28%;
    display: none;

}

.store-address-tehran {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 162px;
    height: 120px;
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(48px);
    position: absolute;
    top: 32%;
    left: 23%;
    display: none;



}

.store-address-Isfahan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 162px;
    height: 120px;
    background: rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(48px);
    position: absolute;
    top: 50%;
    left: 25%;
    display: none;


}

.store-address-text {
    font-weight: 300;
    font-size: 10px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Primary-White-1);
    padding: 1rem;

}

.store-address-btn {
    width: 100%;
    height: 30px;
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    border: 0px;
    font-size: 7px;
    padding: .8rem;
}

/* Responsive Map */
@media screen and (min-width:500px) {
    .IranMap {
        height:60rem;
    }
}

@media screen and (min-width:768px) {
    .IranMap {
        height:auto;
    }
}

@media screen and (min-width:1024px) {
    .IranMap {
        padding: 9rem;
    }


    .p-IranMap-text {

        padding: 0 9rem;
        font-size: 1.6rem;

    }

    /*   .city-hover :hover {
        fill: var(--color-Primary-White-6);
    }
 */


    .store-address {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 320px;
        height: 160px;
        background: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(48px);
        position: absolute;
        top: 28%;
        display: none;


    }




    .store-address-tehran {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 320px;
        height: 160px;
        background: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(48px);
        position: absolute;
        top: 32%;
        left: 23%;
        display: none;



    }

    .store-address-Isfahan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        width: 320px;
        height: 160px;
        background: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(48px);
        position: absolute;
        top: 50%;
        left: 25%;
        display: none;


    }



    .store-address-text {
        font-weight: 300;
        font-size: 16px;
        line-height: 180%;
        /* or 25px */

        text-align: right;
        letter-spacing: -0.02em;

        /* Primary/White/1 */

        color: #FFFFFF;
        padding: 2.4rem;

    }

    .store-address-btn {
        width: 100%;
        height: 64px;
        background-color: var(--color-Primary-Black-1);
        color: var(--color-Primary-White-1);
        border: 0px;
        font-size: 1.2rem;
        padding: 1.4rem;
    }


}


/* NFC address style */
.nfc-address {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    margin-top: 8rem;
}

.nfc-address-content {
    width: 100%;
    height: 6.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 4.8rem;


}

.location-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Primary-White-1);
    width: 6.8rem;
    height: 6.8rem;


}

.location-i {
    width: 2.4rem;
    height: 2.4rem;

}

.nfc-address-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: .8rem;
    margin: 0 !important;
    width: 100%;

}

.nfc-address-h1 {
    width: 100%;
    font-weight: 900;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-right: .8rem;
    margin: 0 !important;

}

.nfc-address-p {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Primary-Black-1);
    width: 100%;
    padding-right: .8rem;
    padding-left: 1.6rem;
    padding-top: .8rem;
    margin: 0 !important;
}

.phone-numbers{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Responsive NFC address  */
@media screen and (min-width:1024px) {
    .nfc-address {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .nfc-address-h1 {
        font-size: 16px;
    }

    .nfc-address-p {
        font-size: 14px;
        padding-top: .8rem;
    }

    .nfc-address-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content:center;
        padding-right: 2rem;
    }
    .location-icon {
       
        width: 7.2rem;
        height: 6.8rem;
    
    
    }
    .phone-numbers{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}






