/*Navbar*/
.main-header {
    background-color: var(--color-Primary-Black-5);
    backdrop-filter: blur(88px);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
  
  }
  
  .nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.6rem 3rem 1.6rem 3rem;
    width: 100%;
  }
  
  .nav1__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    display: none;
    margin-left: 0px !important;
  }
  
  .nav1__list ul {
    margin-left: 0px !important;
  }
  
  .nav1 .nav1__expanded .nav1__list {
    height: 100vh;
    opacity: 1;
  }
  
  .nav1-item {
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--color-Primary-Black-2);
  
  }
  
  .nav1-item>a {
    text-decoration: none;
    color: var(--color-Primary-White-1);
    display: block;
    margin-bottom: 1rem;
  }
  
  .nav1__icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .nav1__toggler {
    padding-left: 3.2rem;
  }
  
  .nav1__search {
    padding-left: 3.2rem;
  }
  
  .nav1__shop {
    padding-left: 3.2rem;
  }
  
  .nav1-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 3rem;
  }
  
  .logo {
    width: 6rem;
    height: 6rem;
  }
  
  .p-icon {
    display: none;
  }
  
  
  .search {
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.945);
    backdrop-filter: blur(44px);
    -webkit-backdrop-filter: blur(44px);
    padding: 30px 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
  
  }
  
  .search.show {
    visibility: visible;
    opacity: 1;
  }
  
  .search form {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #676767;
    padding-top: 3.2rem;
  }
  
  .search-content {
    margin: 0 2rem;
  }
  
  .search form input[type=text] {
    width: 95%;
    padding: 15px 10px 15px 0;
    border: none;
    margin-left: 10px;
    outline: none;
    background-color: rgba(3, 3, 3, 0);
    color: var(--color-Primary-White-1);
    font-size: 12px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
  
  }
  
  .search form input[type=submit] {
    background: #fff;
    color: #fff;
    border: none;
    padding: 0 20px;
    font-size: 18px;
  }
  
  .close-i {
    text-align: left;
    cursor: pointer;
  }
  
  .serach-item {
    padding-top: 6.4rem;
  }
  
  .p-search-item {
    font-weight: 800;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Primary-White-1);
  }
  
  .serach-item-typing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 4rem;
  
  
  }
  
  .suggest-search {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0 3rem;
  }
  
  .first-suggest {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .p-search-item-suggest {
    font-weight: 100;
    font-size: 1.2rem;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Primary-Black-2);
    margin-bottom: 0 !important;
    margin-top: 1.6rem !important;
  }
  
  .p-search-item-suggest:hover {
    color: var(--color-Primary-Black-2);
  }
  
  .Hanger-i {
    padding-left: .8rem;
    padding-top: .8rem;
  }
  
  .p-search-item-suggest2 {
  
    color: #fff;
    margin-bottom: 0 !important;
  }
  
  .p-search-item-suggest2:hover {
    color: #fff !important;
  
  }
  
  .suggest-search-products {
    width: 100%;
    display: flex;
    flex-direction: row;
  
  
  }
  
  .suggest-search-products-item {
    width: 28rem;
    height: 8rem;
    background-color: rgba(84, 88, 90, 0.4);
    backdrop-filter: blur(44px);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.6rem;
    margin-top: 2.4rem;
  
  }
  
  .suggest-search-products-item img {
    width: 25% !important;
    height: 6.4rem;
    border-radius: 10px;
    margin-right: .8rem;
    object-fit: cover;
  }
  
  .sc {
    margin-right: 3rem;
  }
  
  .sd {
    margin-right: 0;
  }
  
  .suggest-search-products-item-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
  .p-suggest-search-products {
    font-size: 1.2rem;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding-right: .8rem;
    width: 90%;
    margin-bottom: 0 !important;
  }
  
  .a-suggest-search-products {
  
    width: 100%;
    margin: 0 !important;
    padding-right: 3rem;
    padding-top: 2rem;
  
  }
  
  .a-suggest-search-products a {
    font-size: 1.2rem;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF !important;
    width: 100%;
    margin: 0 !important;
  
  }
  
  .h5-suggest-search-products {
    font-size: 10px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #ACACAC;
    width: 90%;
    padding-right: .8rem;
    margin-bottom: 0 !important;
    margin-top: .8rem !important;
  }
  
  .suggest-search-products-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  
  .search-item-list {
    width: 100%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  
  .search-item-list-li {
    background-color: rgba(84, 88, 90, 0.4);
    backdrop-filter: blur(44px);
    border-radius: 53px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    padding: 1rem 2.4rem;
    margin-left: .6rem;
    margin-bottom: 1.6rem;
    font-size: 1rem;
  
  }
  
@media screen and (min-width: 1024px) {
.main-header {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(44px);
    -webkit-backdrop-filter: blur(44px);
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;

  }


  .nav1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;





  }

  .nav1 ul {
    margin-bottom: 0;
  }

  .nav1-item {
    margin-bottom: 0;
    position: relative;
    width: 100%;

  }


  .nav1-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 1rem;
    margin-left: 0;

  }

  .nav1__icon {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

  }

  .nav1__toggler {
    display: none;
  }

  .nav1__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 0;





  }

  .nav1-item {
    font-size: 1.8rem;
    margin-left: 4.8rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    font-weight: 400;
    position: relative;



  }


  .nav1-item ::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--color-Primary-White-1);
    position: absolute;
    bottom: 0;
    transition: width .3s;
  }

  .nav1-item :hover::before {
    content: '';
    width: 100%;

  }

  .nav1-item-active ::before {
    content: '';
    width: 100%;

  }

  .nav1__user,
  .nav1__search,
  .nav1__shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.4rem;


  }

  .nav1__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3rem;
    padding-right: 4;
  }

  .nav1__shop {
    margin-left: 4rem;
    padding-left: 0;
  }

  .shop-badge {

    left: 30px;
  }

  .p-icon {
    display: block;
    font-size: 1.4rem;
    color: var(--color-Primary-Black-2);
    margin-top: 1rem;
  }

  .logo {
    width: 8rem;
    height: 8rem;
  }

  .nav1-item {
    border-bottom: none;
  }

  .search {
    width: 100%;
    height: auto;
    padding: 3rem 9rem;
  }


  .search-item-list-li {
    padding: 1rem 2.4rem;
    margin-left: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;

  }

  .search form input[type=text] {
    font-size: 1.6rem;
    letter-spacing: -0.02em;
  }

  /* Mega menu Responsive start */

  .mega-menu {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(44px);
    -webkit-backdrop-filter: blur(44px);
    -moz-backdrop-filter: blur(44px);
    -webkit-backdrop-filter: blur(44px);
    -o-backdrop-bfilter: blur(44px);
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 3rem 9rem;


  }

  .mega-menu-list-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 1px solid #fff;

  }

  .mega-menu-list-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 6rem;
  }



  .menu-item {
    width: 50%;

  }

  .menu-item-img {
    width: 50%;
    padding: 0 1rem;
  }

  .megamenu-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .item-menu {
    font-size: 1.6rem;
    color: var(--color-Primary-White-6);
    text-decoration: none;

  }

  .item-menu:hover {
    color: #fff;
    text-decoration: none;
  }

  .cf {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all-product {
    padding: 0 1rem;
  }

  .Next-i {
    padding-right: 1.6rem;
  }

  .search-content {
    width: 100%;
  }

  .serach-item-typing {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
  }

  .suggest-search {
    margin-top: 2rem;
  }


  .suggest-search-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0;
  }


  .sc {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0rem;
    margin-right: 0rem;
  }

  .a-suggest-search-products {

    padding-right: 0;
  }

  .suggest-search-products-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .shoping-cart-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 432px;
    height: auto;
    left: 57px;
    top: 69px;
    background-color: #fff;
    padding: 1.6rem;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.1);
    visibility: hidden;


  }



  .nav1__shop a:hover .shoping-cart-list {
    display: block;
  }

  .shoping-cart-list-header {
    width: 100%;
    height: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
  }

  .shoping-cart-list a {
    font-weight: 800;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 0;

  }

  .shoping-cart-list small {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #CCCCCC;
    margin-bottom: 0;

  }

  .main-shopingcart-list {
    display: flex;
    padding-top: 3rem;
  }

  .shoping-cart-list-img {
    width: 25%;
  }

  .shoping-cart-list-img img {
    width: 80px;
    height: 102px;
  }

  .shoping-cart-list-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EEEEEE;
  }

  .shoping-cart-list-content-text p {
    padding-left: 1.2rem;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    width: 80%;
  }

  .shoping-cart-list-content-details {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .shoping-cart-list-content-details p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #ACACAC;
    padding-left: 1.6rem;
  }

  .shoping-cart-list-content-price p {
    font-weight: 800;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-left: .8rem;

  }

  .shoping-cart-list-content-price span {
    font-weight: 800;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Semantic-Red);
    padding-left: .8rem;

  }

  .shoping-cart-list-content-price {
    flex-wrap: wrap;
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  .shoping-cart-list-Footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shoping-cart-list-Footer-details {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .shoping-cart-list-Footer-details p {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 0;

  }

  .shoping-cart-list-Footer-details span {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #32CD8C;

  }

  .shoping-cart-list-Footer-btn {
    padding-top: 2rem;
  }

  .shoping-cart-list-Footer-btn a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    padding: 1.6rem 5.1rem;
  }




}










