/* Single Products Alireza*/



.header-link ul li {
  display: inline-block;
  /* margin-right: 37px;*/
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
}

.header-link {
  margin-top: 40px;
  margin-bottom: 40px;
}

.header-link ul li::after {
  content: url("../icons/Vector 330.png");
  margin: 0 16px;
}

.balck-color {
  color: #000000 !important;
}

.header-link ul li:last-child::after {
  content: "";
}

.header-link ul li a {
  color: #acacac;
}

.header-link ul li a:hover {
  text-decoration: none;
  color: #acacac;
}

.header-link ul li a:active {
  text-decoration: none;
  color: #acacac;
}

.pic img {
  max-height: 534px;
}

.large-pic {
  margin-top: 16px;
  position: relative;
}

.large-pic-svg {
  position: absolute;
  top: 81;
  right: 64;
}

.detail span {
  font-weight: 400;
  color: #000000;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -2%;
}



.detail h2 {
  font-family: 'YekanBakh';
  margin-right: -15px;
  vertical-align: Top;
  letter-spacing: -2%;
  color: #000000;
  font-size: 24px;
  line-height: 36px;
  font-style: black;
  font-weight: 900 !important;

}

.price {
  margin-right: -15px;
}

.price span {
  font-family: "YekanBakh-SemiBold";
  font-size: 18px;
  line-height: 32px;
}

.del {
  color: #acacac;
  font-size: 16px;
  line-height: 29px;
  margin-right: 18px;
}

.discount {
  color: #e91c41 !important;
  font-size: 16px !important;
  line-height: 29px !important;
  margin-right: 11px !important;
  font-family: YekanBakh-Bold !important;
}

.discount::after {
  content: url("../icons/Subtract.png");
  width: 14px !important;
  height: 14px !important;
  margin-right: 4px;
}

.number-font {
  font-family: "YekanBakh-NumberFont" !important;
}

.product-color {
  margin-right: -15px;
  margin-top: 45px;
}

.product-color-span {
  color: #acacac !important;
}

.available-news span {
  font-size: 14px;
  line-height: 25px;
  position: relative;
  margin-right: 6px;
  color: black;
}

.available-news-2 {
  margin-top: -28px;
}

.available-news-2 span {
  font-size: 14px;
  line-height: 25px;
  position: relative;
  margin-right: 20px;
  color: black;
}

.available-news-2 span::before {
  content: url("../icons/Icon-Frame.png");
  position: absolute;
  right: -20px;
  top: 3px;
}

.available-news span::before {
  content: url("../icons/Mail.svg");
  position: absolute;
  right: -20px;
  top: 3px;
}

#Slider {
  margin-top: 16px;
}

.height-width {
  height: 77px !important;
  width: 80px !important;
}

.next-z {
  background-color: rgb(255, 255, 255);
  width: 16px;
  height: 68px;
}

.next-z svg {
  stroke: #000;
}

.slide li {
  /* margin-right: 0px !important;  */
}

@media only screen and (min-width: 1024px) {
  .slide li {
    margin-right: -58px !important;
  }
}

.slide-2 li {
  margin-right: -78px !important;
}

.height-width-2 {
  height: 287px !important;
  width: 208px !important;
}

.size {
  margin-top: 86px;
}

.size-text {
  font-style: Black;
  font-size: 16px;
  line-height: 29px;
  font-weight: 900 !important;
  color: #000000;
  padding-bottom: 4px;
  border-bottom: 1px solid black;
}

.size-table {
  font-size: 16px;
  line-height: 29px;
  position: relative;
}

.size-table::before {
  content: url("../icons/Vector-regolar.png");
  position: absolute;
  right: -15px;
  top: 3px;
}

.margin-right-15 {
  /* margin-right: -15px; */
}

.choise-size-main {
  margin-top: 19px;
  height: auto;
}



.width-100 {
  width: 100%;
}

.dropdown-icone {
  font-size: 16px;
  line-height: 29px;
  padding: 25px 17px 17px 17px;
  cursor: pointer;
}

.dropdown-choise-size {
  background-color: white !important;
  width: 100%;
  height: auto;
  display: none;

}

.choise-size-tamplate {
  border: 1px solid #e0e0e0;
  height: auto;
  margin-right: 3px;
  margin-top: 8px;
}

.choise-size-tamplate span {
  color: #000000;
  font-size: 16px;
  padding: 8px 0;
  display: block;
}

.choise-size-tamplate-backGround-black {
  background-color: black;
}

.choise-size-tamplate-backGround-black span {
  color: white !important;
}

.mute-packet {
  position: relative;
  overflow: hidden;
}

.mute-packet::after {
  content: url("../icons/Icon Frame.png");
  position: absolute;
  top: 1.92px;
  left: 1.75px;
}

.mute-packet span {
  color: #e0e0e0 !important;
}

.mute span {
  color: #e0e0e0 !important;
}

.mute-packet::before {
  content: url("../icons/Line 47.png");
  position: absolute;
  top: 1px;
  left: 0;
  transform: rotate(-3deg);
  margin-top: 1rem;
}

.vist-site-order h2 {
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #676767;
}



.vist-site-order h2::before {
  content: url("../icons/Group 21460.svg");
}

.btn-order {
  margin-top: 24px;
}

.btn-order-a {
  background-color: black;
  padding: 2rem 1.6rem .5rem 1.6rem;
}

.btn-order-a a {
  color: white !important;
  font-size: 16px;

}

.btn-order-a a:hover {
  color: white;
  padding: 2rem 1.6rem .5rem 1.6rem;
}

.btn-order-a a:active {
  color: white;
}

.btn-order-a a:visited {
  color: white;
}



.btn-order-ghalb {
  border: 1px solid black;
  height: 58px;
  position: relative;
}

.top-16 {
  margin-top: 16px;
}

.zemanat {
  margin-top: 201px;
}

.zemanat ul li {
  display: inline-block;
  color: #676767;
  font-size: 16px;
  margin-right: 132px;
}

/*
  .tab-menu {
    margin-top: 186px;
  }
  .tab-menu ul li {
    display: inline-block;
    margin-right: 60px;
  }
  .tab-menu ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  .tab-menu ul li a:hover {
    color: #000000;
    text-decoration: none;
  }
  .tab-menu ul li a:active {
    color: #000000;
    text-decoration: none;
  }
  .tab-menu ul li a:visited {
    color: #000000;
    text-decoration: none;
  }
  */
.tab-container {
  margin-top: 186px;
  height: auto;
}

.tab-button {}

.tab-button a {
  color: #000000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;

  margin-right: 60px;

}



.tab-content {
  background-color: white;
  height: auto;
  padding-bottom: 50px;
}

#prev ul li {
  margin-top: 16px;
  margin-right: 34px;
  color: #000000;
  font-size: 16px;
}

#prev ul li span {
  color: #676767;
  margin-right: 8px;
}

#detail_tab h2 {


  font-weight: 900;
  font-size: 16px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
  padding: 4.8rem 3rem 0 3rem;

}

#detail_tab p {
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: #676767;
  padding: 0 3rem;
}

.comment-title {
  font-size: 18px;
  line-height: 32px;
}

.add-commnet-btn {
  background-color: #000000;
  color: white;
  padding: 16px 43px;
}

.comment-range {
  margin-top: 67px;
  height: auto;
}

.comment-range-title {
  font-size: 40px;
  font-weight: 600;
}

.comment-range-title-span {
  font-size: 18px;
  color: #acacac;
}

.text {
  color: black;
  font-size: 14px;
  font-weight: 400;

}

.progress {
  background-color: #cccccc;
  margin-top: 8px;
  border-radius: 0;
  height: 0.7rem;
}

.progress .progress-bar {
  height: 0.7rem;
  background-color: #000000;
}

.top-24 {
  margin-top: 24px;
}

.text-14 {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.top-40 {
  margin-top: 40px;
}

.show-comments {
  margin-top: 153px;
}

.cirle {
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #32cd8c;
}

.cirle-2-color {
  background-color: #fcc353 !important;
}

.cirle-3-color {
  background-color: #e91c41 !important;
}

.cirle::before {
  content: url("../icons/Star 3.svg");
  position: absolute;
  top: 10px;
  left: 15px;

}

.cirle span {
  position: absolute;
  top: 8px;
  left: 7px;
  color: white !important;
}

.title-show-commnet {
  margin-right: 8px;
  margin-top: 10px;
}

.detail-comment {
  margin-right: 50px;
}

.user-comment {
  margin-right: 0px;
  position: relative;
}

/* .user-comment::before {
  content: url("../icons/user.svg");

  position: absolute;
  top: 5px;
  right: -20px;
} */

.comment-date {
  position: relative;
}

.comment-date::before {
  content: url("../icons/date.svg");

  position: absolute;
  top: 5px;
  right: -20px;
}

.proposal-comment {
  position: relative;
}

.proposal-comment::before {
  content: url("../icons/Groupsd 21460.svg");

  position: absolute;
  top: 5px;
  right: -20px;
}

.text-comment {
  margin-right: 0px;
}

.top-68 {
  margin-top: 32px;
  border-bottom: 1px solid #E0E0E0;
}

.active-border-bottom {
  border-bottom: 2px solid black;
  padding-bottom: 16px;
  position: relative;
}

/* .active-border-bottom::before {
  content: " ";
  border-bottom: 8px solid black;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  position: absolute;
  left: 45%;
  bottom: -2px;
} */

.tap {
  display: none;
}

@media only screen and (max-width: 1600px) {
  .header-link {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .header-link {
    margin-right: 0;
  }
}

@media only screen and (max-width: 600px) {
  .zemanat ul li {
    margin-right: 40px !important;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .tab-button a {
    margin-right: 10px !important;
    margin-top: 20px;
  }
}

.btn-Love {}

.btn-Love::after {
  content: url("../icons/Union.svg");
  position: absolute;
  top: 38%;
  left: 35%;
}

.product-title {
  font-size: 24px;
  line-height: 36px;

  font-weight: 900;

}

.bold-font {
  font-size: 24px !important;
  font-weight: 900 !important;
  font-family: "YekanBakh-NumberFont" !important;

}

.dropdown-choise-size ul li a {
  text-decoration: none;
  color: black;

}

.dropdown-choise-size ul li a:hover {
  text-decoration: none;
  color: black;

}

.dropdown-choise-size ul li a:active {
  text-decoration: none;
  color: black;

}

.dropdown-choise-size ul li a:visited {
  text-decoration: none;
  color: black;
  list-style: none;
}

.dropdown-choise-size ul {
  width: 227px;
  margin-right: -15px;
}

.dropdown-choise-size ul li {
  list-style: none;
  padding: 15px;
  display: block;
}

.dropdown-choise-size ul li:hover {
  background-color: black;
}

.dropdown-choise-size ul li:hover a {
  color: white;
}







/* begin external css: flickity.css
/*! Flickity v2.0.4
 * https://npmcdn.com/flickity@2/dist/flickity.css
https://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;

  background-color: #e91c41;


}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 24px;
  height: 40px;
  border: none;
  border-radius: 0;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.flickity-prev-next-button:hover {
  background: rgb(0, 0, 0);
}



.flickity-prev-next-button:focus {
  outline: none;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous {
  left: 0px;
}

.flickity-prev-next-button.next {
  right: 0px;
}


.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}


.carousel {
  background: #FAFAFA;
}

.carousel-main {
  margin-bottom: 8px;
  margin-top: 16px;
}

.carousel-cell {
  width: 100%;
  height: auto;
  border-radius: 0;
  /* counter-increment: carousel-cell; */
}



.carousel-nav .carousel-cell {
  width: 80px;
  height: auto;
}

.carousel-nav .carousel-cell img {
  width: 80px;
  height: 91px;
  object-fit: cover;
}


.carousel-main img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 410px;
  object-fit: cover;
}



.container {
  max-width: 410px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}



.top-icon {
  width: 100%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-single-product {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.single-product-right {
  width: 100%;
}

.single-product-left {
  width: 100%;
  margin-top: 1.8rem;
}

.h1-single-product {
  font-weight: 900;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
  width: 80%;
  margin: 0 !important;
  padding-top: .7rem;
}

.available-news-content {
  padding-right: 1rem;
}

.single-product-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.Rating {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pull-right {
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
  padding-top: .8rem;
  padding-left: .6rem;
  margin: 0 !important;
}

.star2 {
  padding-left: .8rem;
}

.Price-single-product1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

.number-font-2 {
  color: rgba(233, 28, 65, 1);
}

.number-price-2 {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 900;
  font-size: 18px;
  width: 100%;
}

.del3 {
  font-weight: 800;
  font-size: 14px;
  color: #acacac;
}

.del-red {

  color: rgba(233, 28, 65, 1);
  font-weight: 800;
  font-size: 12px;
  padding-right: .6rem;
}

.single-product-cta {
  width: 100%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.r-cta {
  width: 75%;
  height: 6.4rem;
  cursor: pointer;
}

.btn-order-a:hover {
  background-color: rgb(255, 255, 255);
  color: #000;
  border: 1.5px solid var(--color-Primary-Black-1);

}

.btn-order-a:hover a {
  color: rgb(0, 0, 0) !important;
  font-size: 16px;
  font-weight: 600;
}

.btn-order-a svg {
  stroke: rgb(255, 255, 255);
}

.btn-order-a:hover svg {
  stroke: #000;
}

.r-like {
  width: 20%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.r-like:active {
  background-color: #000;

}

.r-like svg {
  stroke: rgb(0, 0, 0);

}

.r-like:active svg {
  stroke: rgb(255, 255, 255);

}

.select-size {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.right-size {
  width: 48%;
}

.left-size {
  width: 48%;
}

.choise-size {
  width: 100%;
  height: 63px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choise-size:hover {

  border: 1px solid #000000;

}

.dropdown-content2 {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.08);
  z-index: 100;

}



/* Links inside the dropdown */
.dropdown-content2 a {
  padding: 14px 24px;
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: var(--color-Primary-Black-1);
}



.dropdown-content2 a:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.08);
}



.choise-size p {
  font-size: 1.4rem;
  padding: 0 1.6rem;
  color: #000000;
  margin: 0 !important;
}

.p-select-size {
  font-weight: 400;
  font-size: 1.4rem;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
}

.h-select-size {
  font-weight: 800;
  font-size: 1.6rem;
  color: #000000;
}

.bottom-single-product {
  width: 100%;
  padding: 0 1rem;

}

.guarantee {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 2rem 4rem 2rem;
  border-bottom: 1px solid #E0E0E0;
}

.guarantee-item {
  width: 50%;
  height: auto;
  padding-top: 2.4rem;
}

.guarantee-img {
  width: 68px;
  height: 72px;

}

.product-detail-drop-down {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;
}

.accordion2 {
  width: 100%;
  padding: 0;
  margin-top: 1.6rem;
  border-bottom: 1px solid #E0E0E0;

}

.accordion2 .link2 {
  cursor: pointer;
  width: 100%;
  display: block;
  color: var(--color-Primary-White-6);
  padding: 0 1.6rem;
  font-size: 1.4rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion2 li:last-child .link {
  border-bottom: 0;
}

.accordion2 li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion2 li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion2 li.open .link {
  color: #b63b4d;
}

.accordion2 li.open i {
  color: #b63b4d;
}

.accordion2 li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.product-detail-text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: var(--color-Primary-Black-1);
  padding: 1.6rem 0;
  margin: 0 !important;


}




.submenu a {
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu ul {
  padding: 2rem 0;
}

.product-detail-text {
  width: 100%;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 180%;
  text-align: justify;
  letter-spacing: -0.02em;
  color: #676767;
}

.product-detail-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: .8rem;
}

.product-detail-item-contrnt {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: #676767;

}

.h-Comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1.8rem;
}

.h1-comment p {
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;

}

.l-comment a {
  font-weight: 800;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
}


.user-comment2 {
  display: flex;
  width: 100%;
  padding-right: 1.8rem;


}

.user-comment-cart {
  background-color: rgb(255, 255, 255);
  width: 27rem;
  height: 18rem;
  margin-left: 1.6rem;
  padding: 1.6rem;

}

.user-comment-title-h {
  width: 90%;
}

.user-comment-cart h4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
  font-family: "YekanBakh" !important;
  margin: 0 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.user-comment-cart p {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: #676767;
  font-family: "YekanBakh" !important;
  margin: 0 !important;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;


}

.user-comment-title-p {
  width: 100%;
  height: 100px;

}

.user-comment-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like-btn {
  display: flex;
  justify-content: flex-end;
}

.like-btn img {
  width: 1.8rem !important;
  height: 1.8rem;
}

.user-comment-details {
  width: 100%;
  display: flex;
}

.UserName {
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  margin: 1rem 0;

}

.UserName p {
  font-weight: 400;
  font-size: 10px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #ACACAC;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.UserName img {
  width: 1.4rem !important;
  height: 1.4rem;
  margin-left: .4rem;
}

.Comment-Date {
  width: 40%;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  margin: 1rem 0;

}

.Comment-Date p {
  font-weight: 400;
  font-size: 10px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #ACACAC;


}

.Comment-Date img {
  width: 1.4rem !important;
  height: 1.4rem;
  margin-left: .4rem;
}

.comment-btn {
  width: 50%;
  padding-right: 1.8rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.comment-btn a {
  color: #fff !important;
}



.add-commnet-btn2 {
  background-color: #000000;
  color: white;
  padding: 1.6rem 3.2rem;
}

.container4 {
  padding: 0 3rem;
}

.container5 {
  padding: 0 3rem;

}

.user-comment2-Desktop {
  display: none;
}

.header-link {
  display: none;
}

.img-top-product {
  display: none;
}

.top-icon-desk {
  display: none;
}

.Store-location img {
  width: 2rem;
  height: 2rem;
  margin-left: .4rem;
}

.Store-location p {
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #676767;
  margin: 0 !important;

}

.Store-location {

  margin: 0 !important;

}

.Store-location a {

  color: #676767 !important;

}

.Store-location:hover a {

  color: #000000 !important;

}

.guarantee-text {
  font-weight: 600;
  font-size: 12px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #676767;

}

.smart-size {
  width: 100%;
  height: 63px;
  border: 1px solid #cccccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-icon2 {
  width: 100%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pt-20 {
  padding-top: 5.2rem;
}

.text2 {
  color: black;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.comment-col {
  display: flex;
  flex-direction: column;
}

.comment-title2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.range-rating2 {
  display: flex;
  justify-content: space-between;
}

.comment-title-desk2 {
  padding-top: 5.2rem;
}

.comment-btn3 {
  width: 100%;
  margin-top: 6rem;
  display: flex;
  align-items: center;

}

.comment-btn3 a {
  background-color: #32cd8c;
  width: 100%;
  height: 6.9rem;
  font-size: 1.6rem;
  font-weight: 100;
  color: #FFFFFF;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* external css: flickity.css */

@media screen and (min-width: 420px) {

  .carousel-main img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 410px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .container4 {
    padding-right: 3rem;
    padding-left: 0;
  }

  .container5 {
    padding-left: 3rem;
    padding-right: 2.4rem;
  }

  .guarantee {
    margin-top: 5rem;
    padding-bottom: 10rem;
  }

  .guarantee-item {
    width: 25%;

  }

  .top-single-product {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .single-product-right {
    width: 60%;
  }

  .single-product-left {
    width: 40%;
  }

  .carousel-cell {
    width: 100%;
    height: 410;
    margin-right: 8px;
    border-radius: 0;
    /* counter-increment: carousel-cell; */
  }

  .carousel-main img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 410px;
    object-fit: cover;
  }

  .top-icon {
    display: none;
  }

  .carousel-main {
    margin-bottom: 8px;
    margin-top: 100px;
  }

  .single-product-title {
    margin-top: 80px;
  }

  .column-revesrs {
    display: flex;
    flex-direction: column-reverse;
  }

  .single-product-left {
    width: 54%;
  }

  .Price-single-product1 {

    margin-top: 30px;
  }

}

@media screen and (min-width: 1024px) {

  .guarantee {

    border-bottom: 0;
    padding-top: 10rem;
  }

  .guarantee-text {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #676767;

  }

  .guarantee-img {
    width: 97px;
    height: 100px;

  }

  .available-news-content {
    padding-right: 2.8rem;
  }

  .comment-title2 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start !important;
    flex-direction: column;

  }

  .comment-title-desk2 {
    padding-top: 0;
  }

  .comment-btn3 {
    width: 25%;
    margin-top: 6rem;
    display: flex;
    align-items: center;

  }






  .range-rating2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }




  .top-icon-desk {
    display: flex;
    padding-bottom: 2.4rem;
  }

  .Rating {
    display: none;
  }

  .top-single-product {
    padding: 0 9rem;
  }

  .container4 {
    padding: 0;
  }

  .container5 {
    padding-left: 0;
    padding-right: 1.6rem;
  }

  .header-link {
    display: flex;
  }

  .single-product-title {
    margin-top: 10px;
  }

  .single-product-left {
    width: 47%;
  }

  .h1-single-product {

    font-size: 2.4rem;

    width: 80%;
  }

  .product-color {
    margin-right: 0;
    margin-top: 10px;
  }

  .single-product-cta {

    padding: 0;
  }

  .img-top-product {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.6rem;
  }

  .img-top-product-left {
    width: 49%;
    height: auto;
  }

  /* .dropdown-content2 {
    position: absolute;
  } */

  .dropdown-content2 {
    display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 100%;
    box-shadow: 0px 16px 64px rgba(0, 0, 0, 0.08);
    z-index: 100;
    border-bottom: 0px;
  }

  .dropdown-content2 a {
    padding: 14px 24px;
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Primary-Black-1);
  }




  .img-top-product-right {
    width: 49%;
    height: auto;
  }

  .img-top-product-left img {
    width: 432px;
    height: 278px;
    object-fit: cover;
  }

  .img-top-product-right img {
    width: 432px;
    height: 278px;
    object-fit: cover;
  }

  .carousel-main {
    margin-bottom: 16px;
    margin-top: 16px;
  }

  .single-product-title {
    margin-top: -1px;
  }

  .Price-single-product1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

  .number-price-2 {
    text-align: right;
    width: auto;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.02em;
  }

  .del3 {
    font-weight: 800;
    font-size: 16px;
    color: #acacac;
    padding-right: 2.4rem;
  }

  .discount-s {
    color: #e91c41;
    font-size: 16px;
    line-height: 29px;
    font-family: YekanBakh;
    font-weight: 800;

    left: 154px;
    width: 20%;
  }

  .bg {
    position: relative;
    left: -31px;
    top: 6px;

  }

  .Store-location img {
    width: 2rem;
    height: 2rem;
    margin-left: .8rem;
  }

  .Store-location p {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #676767;

  }

  .Store-location a {

    color: #676767 !important;

  }

  .carousel-cell {
    width: 100%;
    height: 526px;
    margin-right: 8px;
    border-radius: 0;
    /* counter-increment: carousel-cell; */
  }

  .carousel-main img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 526px;
    object-fit: cover;
  }

  .carousel-nav .carousel-cell {
    width: 208px;
    height: auto;
  }

  .carousel-nav .carousel-cell img {
    width: 206px;
    height: 208px;
    object-fit: cover;
  }

  .product-detail-drop-down {
    display: none;
  }

  .h-Comment {
    display: none;
  }

  .user-comment2-Mobile {
    display: none;
  }

  .user-comment2-Desktop {
    display: flex;
    padding: 0 3rem;
  }

  .tabs {
    width: 100%;

  }

  .tab-button2 {
    width: 100%;
    border-bottom: 2px solid #E0E0E0;
    padding-bottom: 1.7rem;
  }

  .tab-button2 a {
    color: #ACACAC;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.02em;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 6rem;
  }

  .tab-content-column {
    padding: 4rem 3rem;
  }

  .user-comment {
    margin-right: 30px;
    position: relative;
  }

  .text-comment {
    margin-right: 30px;
  }

  .cirle {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #32cd8c;
  }

  .cirle-2-color {
    background-color: #fcc353 !important;
  }

  .cirle-3-color {
    background-color: #e91c41 !important;
  }

  .cirle::before {
    content: url("../icons/Star 3.svg");
    position: absolute;
    top: 17px;
    left: 23px;
  }

  .cirle span {
    position: absolute;
    top: 12px;
    left: 11px;
    color: white !important;
  }

  .comment-col {
    display: flex;
    flex-direction: row;
  }

  .text {

    font-size: 18px;

  }


  #comments {
    padding: 4rem 3rem 0 3rem;
  }

  .comment-title-desk {
    display: flex;
    align-items: center;
  }

  .comment-title-desk-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-left: 4rem;
  }

  .comment-title-desk-btn a {
    color: #fff !important;
  }

  .modal-content {
    width: 100% !important;
    height: auto;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;
    border: 0 !important;

  }

  .modal {
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10);
    padding-top: 10rem;
  }

  .xz {
    padding-left: 6rem;
  }

  .xc {
    padding-right: 6rem;
  }

  .w-90 {
    width: 90%;
  }

  .w-10 {
    width: 10%;
  }

  .h1-rating {

    font-weight: 900;
    font-size: 16px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;

  }

  .text-rate2 {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #ACACAC;
    padding-right: 1.8rem;


  }

  .text4 {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #ACACAC;
  }

  .text4:hover {

    color: #000000;
  }

  .modal-sm {
    max-width: 1104px;
  }

  .modal-dialog {
    max-width: 1104px;
    margin: 1.75rem auto;
  }

  .comment-rating {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }



  .comment-rating p {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #ACACAC;

  }

  .modal-header {
    border: 0 !important;
    padding-top: 3rem;
  }

  .comment-rating img {
    width: 93px;
    height: 151px;
    object-fit: cover;

  }

  .b-bottom {
    padding-bottom: 8rem;
    border-bottom: 1px solid #E0E0E0;
  }

  .b-bottom2 {
    padding-bottom: 3.2rem;
    border-bottom: 1px solid #E0E0E0;
  }

  .form-control {
    background: #F8F8F8 !important;
    border-radius: 0 !important;
    padding: 2.4rem 1rem !important;
    border: 0 !important;
    font-size: 1.4rem !important;

  }

  .form-control:hover {

    border: 1px solid #000 !important;


  }

  .form-control:focus {
    color: #000000 !important;
    background-color: #F8F8F8 !important;
    border-color: #000000 !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0) !important;
  }

  .col-form-label2 {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-bottom: .8rem;
  }


  .modal-footer{
    border-bottom: 0 !important;
    border-top: 0 !important;
    padding:0 !important
  }

  .add-commnet-btn3 {
    background: #000000;
    border: 1px solid #000000;
    color: #fff;
    padding: 1.6rem 8.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.02em;
}

.add-commnet-btn3:hover {
  background: #ffffff;
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;
 
}

.add-commnet-btn1:hover {
  background: #ffffff;
  border: 1px solid #000000;
  color: rgb(0, 0, 0) !important;

}





  .__range input {
    outline: none;
    -webkit-appearance: none;
    background-color: #CCCCCC;;
    height:8px;
    width: 100%;
    margin: 10px auto;
    /* direction: ltr; */
  }

  .__range input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    direction: ltr;
  }

  .__range input::-moz-range-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .__range input::-ms-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .__range-step {
    position: relative;
  }

  .__range-max {
    float: right;
  }

  .__range-step input::-webkit-slider-thumb {
    background: transparent;
  }

  .__range-step input::-moz-range-thumb {
    background: transparent;
  }

  .__range-step input::-ms-thumb {
    background: transparent;
  }

  .__range-step datalist {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: auto;
    bottom: 22px;
    /* disable text selection */
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
    /* disable click events */
    pointer-events: none;
  }

  .__range-step datalist option {
    width: 16px;
    height: 16px;
    min-height: 16px;
    border-radius: 100px;
    /* hide text */
    white-space: nowrap;
    padding: 0;
    line-height: 46px;
  }


  .__range-step-popup output {
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 40px !important;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 100px;
    display: inline-block;
    font-size: 14px;
    bottom: 100%;
    left: 0;
    vertical-align: middle;
    line-height: 30px;
  }

  .__range-step-popup .__range-output-square {
    padding:  5px;
    min-width:74px;
    width: auto !important;
    border-radius: 0px !important;
  }

  .__range-step-popup output:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid rgb(0, 0, 0);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: 90%;
    left: 50%;
    margin-left: -10px;
    margin-top: -1px;
  }

  .__range-output-square {
    top: 3rem;
  }

  .__range-step-popup datalist {
    overflow: hidden;
  }

  .__range-step {
    /* margin:0 40px; */
  }

  .__range-step-popup {
    /* margin:40px 40px; */
  }





  /* The Modal (background) */
  .ebcf_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content */
  .ebcf_modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  /* The Close Button */
  .ebcf_close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .ebcf_close:hover,
  .ebcf_close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .add-commnet-btn1 {

    background: #000000;
    border: 1px solid #000000;
    color: #fff;
    padding: 1.6rem 4.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .b-rate {
    font-weight: 900;
    font-size: 40px;
    text-align: left;
    letter-spacing: -0.02em;
    color: #000000;
    padding-left: .9rem;
  }

  .t-rate {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: #ACACAC;
    padding-right: .9rem;

  }

  .text-rate {
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    /* identical to box height, or 29px */

    text-align: right;
    letter-spacing: -0.02em;

    color: #000000;
  }

  .progress {
    background-color: #cccccc;
    margin-top: 8px;
    border-radius: 0;
    height: 0.7rem;
  }

  .progress-title {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
  }

  .xd {
    padding: 0 6rem;
  }

  .xp {
    padding: 0 6rem 0 1.8rem;
  }

  .show-comments {
    padding-top: 4rem;
    border-top: 1px solid #E0E0E0;
    ;
  }

  .text2 {
    width: 100%;
    padding-right: .8rem;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;

  }

  .text3 {
    width: 100%;
    padding-right: .8rem;
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;

  }

  .comment-detail-right {
    display: flex;
    width: 35%;
    justify-content: space-between;

  }

  .comment-detail-right-1 {
    width: 50%;
  }

  .comment-detail-right-1 p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .comment-detail-right-2 p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .comment-detail-right-2 {
    width: 50%;
  }

  .comment-detail-right-left {
    width: 50%;
  }

  .comment-detail-right-1 img {
    width: 1.8rem !important;
    height: 1.8rem;
    margin-left: 0.4rem;
  }

  .comment-detail-right-2 img {
    width: 1.7rem !important;
    height: 1.7rem;
    margin-left: 0.4rem;
  }

  .comment-detail-right-left img {
    padding-left: .8rem;
  }

  .text-c {
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #676767;
  }

  .product-detail-drop-down {
    margin-top: 12rem;
  }

  .accordion3 {
    width: 100%;
    padding: 0;
    margin-top: 1.6rem;
  }

  .accordion3 .link3 {
    cursor: pointer;
    width: 40%;
    display: block;
    color: var(--color-Primary-Black-1);
    padding: 0 1.6rem;
    font-size: 1.4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .link3 {
    width: 100%;
  }

  .Comment-more-text {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin: 0 !important;
    padding-left: 0.8rem;

  }

  .hd {
    padding: 0 4rem;
  }

  .product-color-span1 {
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;

  }

  .product-color-span {
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.02em;
    color: #ACACAC;


  }






}

@media screen and (min-width: 1200px) {

  .single-product-left {
    width: 40%;
  }

  .img-top-product-left img {
    width: 432px;
    height: 378px;
    object-fit: cover;
  }

  .img-top-product-right img {
    width: 432px;
    height: 378px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1400px) {


  .single-product-left {
    width: 40%;
  }

  .img-top-product-left img {
    width: 432px;
    height: 534px;
    object-fit: cover;
  }

  .img-top-product-right img {
    width: 432px;
    height: 534px;
    object-fit: cover;
  }

  .carousel-cell {
    width: 100%;
    height: 926px;
    margin-right: 8px;
    border-radius: 0;
  }

  .carousel-main img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 926px;
    object-fit: cover;
  }

  .carousel-nav .carousel-cell {
    width: 208px;
    height: auto;
  }

  .carousel-nav .carousel-cell img {
    width: 208px;
    height: 278px;
    object-fit: cover;
  }

  .r-cta {
    width: 78%;
    height: 6.4rem;
  }

  .r-like {
    width: 18%;
    height: 6.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1600px) {
  .hd {
    padding: 0 .8rem;
  }


}

@media screen and (min-width: 1700px) {

  .hd {
    padding: 0 6rem;
  }

  .top-single-product {
    padding: 0 5.8rem;
  }





}

@media screen and (min-width: 1800px) {}

@media screen and (min-width: 1900px) {



  .top-single-product {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 2000px) {}