/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/*root variable*/
:root {
  --color-Primary-White-1: rgba(255, 255, 255, 1);
  --color-Primary-White-2: rgba(248, 248, 248, 1);
  --color-Primary-White-3: rgba(238, 238, 238, 1);
  --color-Primary-White-4: rgba(224, 224, 224, 1);
  --color-Primary-White-5: rgba(204, 204, 204, 1);
  --color-Primary-White-6: rgba(172, 172, 172, 1);

  --color-Primary-Black-1: rgba(0, 0, 0, 1);
  --color-Primary-Black-2: rgba(103, 103, 103, 1);
  --color-Primary-Black-3: rgba(74, 74, 74, 1);
  --color-Primary-Black-4: rgba(58, 58, 58, 1);
  --color-Primary-Black-5: rgba(44, 44, 44, 1);
  --color-Primary-Black-6: rgba(31, 31, 31, 1);

  --color-Semantic-Green: rgba(50, 205, 140, 1);
  --color-Semantic-Red: rgba(233, 28, 65, 1);
}

html {
  font-size: 62.5%;
}

body {

  font-size: 1.2rem;
  background-color: var(--color-Primary-White-2);
  overflow-x: hidden !important;
}

h1,
h2,
h3 {
  color: var(--color-Primary-Black-1);
  font-weight: 700;
  font-family: 'YekanBakh' !important;
}

/*Base in Mobile Version*/

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }
}



/*Buttons*/

.Mybtn {
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Buttons Hover*/
.btn--primary1:hover {
  background-color: var(--color-Primary-white-1);
  color: var(--color-Primary-black-1);
  border: 1.5px solid var(--color-Primary-Black-1);
  font-weight: 600;

}

.btn--secondary1:hover {
  background-color: var(--color-Primary-Black-1);
  color: var(--color-Primary-White-1);
  border: 1.5px solid var(--color-Primary-Black-1);

}






.container1 {
  margin: auto;
}

.container2 {
  margin: auto;
  max-width: 1500px;
}

.container3 {
  margin: auto;
  max-width: 1500px;
  padding: 0 3rem;
}

/*Navbar*/
.main-header {
  background-color: var(--color-Primary-Black-5);
  backdrop-filter: blur(88px);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;

}

.nav1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.6rem 3rem 1.6rem 3rem;
  width: 100%;
}

.nav1__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  display: none;
  margin-left: 0px !important;
}

.nav1__list ul {
  margin-left: 0px !important;
}

.nav1 .nav1__expanded .nav1__list {
  height: 100vh;
  opacity: 1;
}

.nav1-item {
  margin-bottom: 3rem;
  border-bottom: 1px solid var(--color-Primary-Black-2);

}

.nav1-item>a {
  text-decoration: none;
  color: var(--color-Primary-White-1);
  display: block;
  margin-bottom: 1rem;
}

.nav1__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav1__toggler {
  padding-left: 3.2rem;
}

.nav1__search {
  padding-left: 3.2rem;
}

.nav1__shop {
  padding-left: 3.2rem;
}

.nav1-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 3rem;
}

.logo {
  width: 6rem;
  height: 6rem;
}

.p-icon {
  display: none;
}


.search {
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.945);
  backdrop-filter: blur(44px);
  -webkit-backdrop-filter: blur(44px);
  padding: 30px 0;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

}

.search.show {
  visibility: visible;
  opacity: 1;
}

.search form {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #676767;
  padding-top: 3.2rem;
}

.search-content {
  margin: 0 2rem;
}

.search form input[type=text] {
  width: 95%;
  padding: 15px 10px 15px 0;
  border: none;
  margin-left: 10px;
  outline: none;
  background-color: rgba(3, 3, 3, 0);
  color: var(--color-Primary-White-1);
  font-size: 12px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;

}

.search form input[type=submit] {
  background: #fff;
  color: #fff;
  border: none;
  padding: 0 20px;
  font-size: 18px;
}

.close-i {
  text-align: left;
  cursor: pointer;
}

.serach-item {
  padding-top: 6.4rem;
}

.p-search-item {
  font-weight: 800;
  font-size: 14px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: var(--color-Primary-White-1);
}

.serach-item-typing {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 4rem;


}

.suggest-search {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0 3rem;
}

.first-suggest {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-search-item-suggest {
  font-weight: 100;
  font-size: 1.2rem;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: var(--color-Primary-Black-2);
  margin-bottom: 0 !important;
  margin-top: 1.6rem !important;
}

.p-search-item-suggest:hover {
  color: var(--color-Primary-Black-2);
}

.Hanger-i {
  padding-left: .8rem;
  padding-top: .8rem;
}

.p-search-item-suggest2 {

  color: #fff;
  margin-bottom: 0 !important;
}

.p-search-item-suggest2:hover {
  color: #fff !important;

}

.suggest-search-products {
  width: 100%;
  display: flex;
  flex-direction: row;


}

.suggest-search-products-item {
  width: 28rem;
  height: 8rem;
  background-color: rgba(84, 88, 90, 0.4);
  backdrop-filter: blur(44px);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1.6rem;
  margin-top: 2.4rem;

}

.suggest-search-products-item img {
  width: 25% !important;
  height: 6.4rem;
  border-radius: 10px;
  margin-right: .8rem;
  object-fit: cover;
}

.sc {
  margin-right: 3rem;
}

.sd {
  margin-right: 0;
}

.suggest-search-products-item-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.p-suggest-search-products {
  font-size: 1.2rem;
  text-align: right;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding-right: .8rem;
  width: 90%;
  margin-bottom: 0 !important;
}

.a-suggest-search-products {

  width: 100%;
  margin: 0 !important;
  padding-right: 3rem;
  padding-top: 2rem;

}

.a-suggest-search-products a {
  font-size: 1.2rem;
  text-align: right;
  letter-spacing: -0.02em;
  color: #FFFFFF !important;
  width: 100%;
  margin: 0 !important;

}

.h5-suggest-search-products {
  font-size: 10px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #ACACAC;
  width: 90%;
  padding-right: .8rem;
  margin-bottom: 0 !important;
  margin-top: .8rem !important;
}

.suggest-search-products-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}


.search-item-list {
  width: 100%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}


.search-item-list-li {
  background-color: rgba(84, 88, 90, 0.4);
  backdrop-filter: blur(44px);
  border-radius: 53px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 1rem 2.4rem;
  margin-left: .6rem;
  margin-bottom: 1.6rem;
  font-size: 1rem;

}

/* Mega menu start */

.cf:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);

}

.mega-menu {
  position: absolute;
  width: 100%;
  right: 0;
  top: 98px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  justify-content: space-between;
  align-items: center;
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  z-index: 10;

}

.mega-menu li {
  margin-bottom: 1.6rem;


}


.item-menu {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

.mega-menu-list-left {
  display: none;
}

.mega-menu-list-right {
  padding-right: 2rem;
  padding-bottom: 1.6rem;
}

.nav1__shop {
  position: relative;
}

.shop-badge {
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 46px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2;
  font-weight: 800;
  z-index: 1;
}

.shoping-cart-list {
  display: none;
}

.main-footer {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.top-footer {
  display: flex;
  flex-direction: column;
}

.footer-menu-list ul {
  padding-top: 3rem;

}

.footer-menu-list a {
  padding-bottom: 1rem;
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
  padding-bottom: 2rem;
}

.footer-menu-list li {

  padding-bottom: 2.4rem;
}

.footer-text p {
  font-weight: 800;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #000000;
}

.footer-text span {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;

  letter-spacing: -0.02em;
  color: #676767;

}

.footer-social {
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.footer-social ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo img {
  width: 64px;
  height: 64px;
}

.copy-right {
  display: flex;
  align-items: center;
  padding-top: 3rem;
}

.copy-right p {
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.02em;
  color: #676767;
  text-align: center;

}

.title-list p{
  font-weight: 800;
  font-size: 14px;
  line-height: 180%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.02em;
  color: #ACACAC;

}


@media screen and (max-width: 992px) {
  .mega-menu {
    display: none;
    position: relative;
    transform: translateY(0);
    top: 10px;
  }

  .mega-menu.fade {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}






/* responsive Navbar */

@media screen and (min-width: 1024px) {
  .main-footer {
    display: flex;
    flex-direction: row;
   
    padding: 5rem 9rem;
  }

  .top-footer {
    width: 50%;
  }

  .bottom-footer {
    width: 50%;
    padding-right: 2rem;
  }

  .footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-social {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
  }

  .footer-logo {
    padding: 0 9rem;
  }

  .footer-logo img {
    width: 96px;
    height: 96px;
  }


  .copy-right p {
    font-size: 16px;


  }

  

  .container1 {
    margin: auto;
    width: 1500px;
    padding: 0rem 4rem;
  }

  .main-header {
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(44px);
    -webkit-backdrop-filter: blur(44px);
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;

  }


  .nav1 {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;





  }

  .nav1 ul {
    margin-bottom: 0;
  }

  .nav1-item {
    margin-bottom: 0;
    position: relative;
    width: 100%;

  }


  .nav1-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 1rem;
    margin-left: 0;

  }

  .nav1__icon {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

  }

  .nav1__toggler {
    display: none;
  }

  .nav1__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 0;





  }

  .nav1-item {
    font-size: 1.8rem;
    margin-left: 4.8rem;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    font-weight: 400;
    position: relative;



  }


  .nav1-item ::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: var(--color-Primary-White-1);
    position: absolute;
    bottom: 0;
    transition: width .3s;
  }

  .nav1-item :hover::before {
    content: '';
    width: 100%;

  }

  .nav1-item-active ::before {
    content: '';
    width: 100%;

  }

  .nav1__user,
  .nav1__search,
  .nav1__shop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.4rem;


  }

  .nav1__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 3rem;
    padding-right: 4;
  }

  .nav1__shop {
    margin-left: 4rem;
    padding-left: 0;
  }

  .shop-badge {

    left: 30px;
  }

  .p-icon {
    display: block;
    font-size: 1.4rem;
    color: var(--color-Primary-Black-2);
    margin-top: 1rem;
  }

  .logo {
    width: 8rem;
    height: 8rem;
  }

  .nav1-item {
    border-bottom: none;
  }

  .search {
    width: 100%;
    height: auto;
    padding: 3rem 9rem;
  }


  .search-item-list-li {
    padding: 1rem 2.4rem;
    margin-left: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;

  }

  .search form input[type=text] {
    font-size: 1.6rem;
    letter-spacing: -0.02em;
  }

  /* Mega menu Responsive start */

  .mega-menu {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(44px);
    -webkit-backdrop-filter: blur(44px);
    -moz-backdrop-filter: blur(44px);
    -webkit-backdrop-filter: blur(44px);
    -o-backdrop-bfilter: blur(44px);
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 3rem 9rem;


  }

  .mega-menu-list-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-left: 1px solid #fff;

  }

  .mega-menu-list-left {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 6rem;
  }



  .menu-item {
    width: 50%;

  }

  .menu-item-img {
    width: 50%;
    padding: 0 1rem;
  }

  .megamenu-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .item-menu {
    font-size: 1.6rem;
    color: var(--color-Primary-White-6);
    text-decoration: none;

  }

  .item-menu:hover {
    color: #fff;
    text-decoration: none;
  }

  .cf {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all-product {
    padding: 0 1rem;
  }

  .Next-i {
    padding-right: 1.6rem;
  }

  .search-content {
    width: 100%;
  }

  .serach-item-typing {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-top: 2rem;
  }

  .suggest-search {
    margin-top: 2rem;
  }


  .suggest-search-products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0;
  }


  .sc {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0rem;
    margin-right: 0rem;
  }

  .a-suggest-search-products {

    padding-right: 0;
  }

  .suggest-search-products-content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .shoping-cart-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 432px;
    height: auto;
    left: 57px;
    top: 69px;
    background-color: #fff;
    padding: 1.6rem;
    box-shadow: 0px 4px 46px rgba(0, 0, 0, 0.1);
    display: none;


  }



  

  .shoping-cart-list-header {
    width: 100%;
    height: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E0E0E0;
  }

  .shoping-cart-list a {
    font-weight: 800;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-top: 0;

  }

  .shoping-cart-list small {
    font-weight: 400;
    font-size: 14px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #CCCCCC;
    margin-bottom: 0;

  }

  .main-shopingcart-list {
    display: flex;
    padding-top: 3rem;
  }

  .shoping-cart-list-img {
    width: 25%;
  }

  .shoping-cart-list-img img {
    width: 80px;
    height: 102px;
  }

  .shoping-cart-list-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EEEEEE;
  }

  .shoping-cart-list-content-text p {
    padding-left: 1.2rem;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    width: 80%;
  }

  .shoping-cart-list-content-details {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .shoping-cart-list-content-details p {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #ACACAC;
    padding-left: 1.6rem;
  }

  .shoping-cart-list-content-price p {
    font-weight: 800;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-left: .8rem;

  }

  .shoping-cart-list-content-price span {
    font-weight: 800;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: var(--color-Semantic-Red);
    padding-left: .8rem;

  }

  .shoping-cart-list-content-price {
    flex-wrap: wrap;
    width: 60%;
    display: flex;
    justify-content: flex-end;
  }

  .shoping-cart-list-Footer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .shoping-cart-list-Footer-details {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
  }

  .shoping-cart-list-Footer-details p {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 0;

  }

  .shoping-cart-list-Footer-details span {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #32CD8C;

  }

  .shoping-cart-list-Footer-btn {
    padding-top: 2rem;
  }

  .shoping-cart-list-Footer-btn a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.02em;
    padding: 1.6rem 5.1rem;
  }




}











/* slider */

.slider {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.slider-item {
  height: 166%;
}

.slider-item .item {
  height: 100%;
  display: none;
  align-items: center;
}

.slider-item .item.active {
  display: flex;
}

.slider-item .item .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 96%;
  background-position: center;
  background-size: cover;
  animation: zoom 1s linear forwards;
  -webkit-animation: zoom 1s linear forwards;
}

@keyframes zoom {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}



.slider-item .item .caption {
  position: relative;
  width: 100%;
  height: 136px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 1.6rem;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
}

.progress {
  /* display: none; */
}

.slider-button {

  background-color: #000000;
  color: #fff;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 180%;
  margin-top: -11px;
  margin-right: 100px;
  margin-left: 0;
  z-index: 10;
  position: relative;
  cursor: pointer;


}

.slider-item .item .caption h1 {
  font-size: 18px;
  animation: text 1s ease forwards;
  -webkit-animation: text 1s ease forwards;
  opacity: 0;
  font-family: "YekanBakh" !important;
  margin-top: -6px;
  margin-right: 30px;
  line-height: 150%;
  text-align: right;
  letter-spacing: -0.02em;
  font-weight: 900;

}

.slider-item .item .caption p {
  font-size: 14px;
  animation: text 1s ease forwards;
  -webkit-animation: text 1s ease forwards;
  opacity: 0;
  animation-delay: .5s;
  font-family: "YekanBakh" !important;
  margin-right: 30px;
  margin-top: 16px;
  font-weight: 600;
}

@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}



.slider .controls .next,
.slider .controls .prev {
  position: absolute;
  top: 53%;
  border-radius: 0;
  z-index: 11;
  width: 30px;
  height: 48px;
  background: rgb(0, 0, 0);
  color: var(--color-Primary-white-1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.slider .controls .next {
  right: 0px;
}

.slider .controls .prev {
  left: 0px;
  background-color: var(--color-Primary-White-1);

}

/* .slider .controls .next:hover,
.slider .controls .prev:hover {
  /* background: rgb(0, 0, 0); */
/* } */

.slider .controls .next:hover,
.slider .controls .prev:hover svg {
  color: rgb(255, 255, 255);
}

@keyframes progress {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}


/* main */

#main-1 {
  width: 100%;
  padding: 100px 15px;
  display: flex;
  justify-content: space-between;
}

#main-1 #content {
  width: 66%;
  box-shadow: 0 0px 10px 2px rgba(128, 128, 128, 0.3);
}

#main-1 #content .content-container {
  padding: 15px;
}

#main-1 #content .content-container .dress {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#main-1 #content .content-container .dress .dress-item {
  width: 24%;
  box-shadow: 0 0px 10px 2px rgba(202, 202, 202, 0.3);
  text-align: center;
}

#main-1 #content .content-container .dress img {
  width: 85%;
}


#main-1 #content .content-container .dress .dress-item h4 {
  color: #696969;
  font-family: "YekanBakh" !important;
}

#main-1 #content .content-container .dress .dress-item p {
  color: #777;
  padding: 10px 0;
  font-family: "YekanBakh" !important;
}

#main-1 #content .content-container .dress .dress-item p span {
  font-family: "YekanBakh" !important;
}

#main-1 #sidebar {
  width: 33%;
  box-shadow: 0 0px 10px 2px rgba(128, 128, 128, 0.3);
  height: 100%;
  position: sticky;
  top: 50px;
}


/* responsive slider */

@media screen and (min-width:480px) {
  .slider-button {
    margin-right: 216px;
  }
}


@media screen and (min-width:640px) {
  .slider-item .item .caption {
    position: relative;
    width: 432px;
    margin-left: 16px;
    margin-right: 16px;
    z-index: 10;
    background-color: #ffffff41;
    backdrop-filter: blur(88px);
  }
}


@media screen and (min-width:1024px) {
  .slider {
    width: 100%;
    height: 98vh;
    position: relative;
    overflow: hidden;
    top: -100px;
  }

  .slider-item {
    height: 100%;
  }


  .slider-item .item .caption {
    position: relative;
    margin-left: 10%;
    margin-right: 49%;
    z-index: 10;
    background-color: #ffffff41;
    backdrop-filter: blur(64px);
    -webkit-backdrop-filter: blur(64px);
    height: 376px;
  }

  .slider-button {
    width: 207px;
    height: 64px;
    margin-right: 225px;



  }

  .slider-item .item .caption p {

    margin-top: 80px;
    margin-right: 80px;
    font-size: 18px;
  }

  .slider-item .item .caption h1 {
    margin-right: 80px;
    margin-left: 80px;
    font-size: 24px;
    margin-bottom: 40px;


  }



  .slider .controls .next-2 {
    right: 49%;



  }

  .slider .controls .prev-2 {
    left: 51%;


  }

  .slider .controls .next,
  .slider .controls .prev {
    display: none;

  }

  .slider .controls .next-2,
  .slider .controls .prev-2 {

    width: 64px;
    height: 64px;
    background: rgb(255, 255, 255);
    color: #fff;
    position: absolute;
    top: 53%;
    border-radius: 0;
    z-index: 11;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;

  }


  .slider .controls .prev-2 {

    width: 64px;
    height: 64px;
    background: rgb(0, 0, 0);
    color: #fff;


  }

}


@media screen and (min-width:1200px) {

  .slider-item .item .caption {
    margin-right: 56%;
  }

  .slider .controls .next-2 {
    right: 56%;
  }

  .slider .controls .prev-2 {
    left: 44%;
  }

}


@media screen and (min-width:1400px) {

  .slider-item .item .caption {

    margin-right: 62%;

  }

  .slider .controls .next-2 {
    right: 62%;
  }

  .slider .controls .prev-2 {
    left: 38%;
  }

}

@media screen and (min-width:1500px) {

  .slider-item .item .caption {

    margin-right: 65%;

  }

  .slider .controls .next-2 {
    right: 65%;
  }

  .slider .controls .prev-2 {
    left: 35%;
  }

}

@media screen and (min-width:1800px) {

  .slider-item .item .caption {

    margin-right: 64%;

  }

  .slider .controls .next-2 {
    right: 64%;
  }

  .slider .controls .prev-2 {
    left: 36%;
  }

}

/* End slider */




/*Top Banners*/

.top__banners {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.4rem;
}


.Myrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 3rem;
  margin-left: 3rem;
}

.right-banner {
  width: 48%;
  height: auto;
  background-color: var(--color-Primary-White-1);
  align-items: center;
  justify-content: center;

}

.banner__content {

  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 40px;

}

.banner__content .h1-cart {
  color: var(--color-Primary-Black-1);
  font-size: 1rem;
  font-weight: 800;
  margin-top: 1.6rem;
  margin-right: .8rem;
}


.right-banner .banner__content .p-cart {
  color: var(--color-Semantic-Red);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1.6rem;
  margin-left: .8rem;
}

.right-banner .banner__img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  padding-top: 0;
}

.right-banner .banner__btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
}



.left-banner {
  width: 48%;
  height: auto;
  background-color: var(--color-Primary-White-1);
  align-items: center;
  justify-content: center;
}



.left-banner .banner__content .h1-cart {
  color: var(--color-Primary-Black-1);
  font-size: 1rem;
  font-weight: 800;
  margin-top: 1.6rem;
  margin-right: .8rem;

}


.left-banner .banner__content .p-cart {
  color: var(--color-Semantic-Red);
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1.6rem;
  margin-left: .8rem;

}

.left-banner .banner__img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.left-banner .banner__btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;

}

.btn--primary1 {
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  background-color: var(--color-Primary-Black-1);
  color: var(--color-Primary-White-1);
  height: 4rem;
  padding: 0 1.6rem;
  width: 100%;
}

.btn--secondary1 {
  margin-bottom: 1.6rem;
  font-size: 1.2rem;
  background-color: var(--color-Primary-white-1);
  color: var(--color-Primary-black-1);
  height: 4rem;
  border: 1.5px solid;
  height: 4rem;
  padding: 0 1.6rem;
  width: 100%;
}

/* Resposive Top Banner */

@media screen and (min-width:768px) {
  .right-banner {
    width: 49%;
  }

  .left-banner {
    width: 49%;
  }

  .right-banner .banner__img {
    height: 28rem;
  }

  .left-banner .banner__img {
    height: 28rem;


  }


  .btn--primary1 {
    height: 5rem;
  }

  .btn--secondary1 {
    height: 5rem;
  }

}

@media screen and (min-width:1024px) {
  .top__banners {
    width: 100%;
    height: 71.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9rem;

  }


  .Myrow {

    margin-right: 0;
    margin-left: 0;
  }



  .right-banner .banner__content .h1-cart {
    color: var(--color-Primary-Black-2);
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 1.6rem;
  }


  .right-banner .banner__content .p-cart {

    color: var(--color-Semantic-Red);
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 1.6rem;


  }


  .right-banner .banner__img {

    width: 100%;
    height: 48rem;
    margin-top: 3.2rem;

  }

  .right-banner .banner__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }



  .left-banner .banner__content .h1-cart {

    color: var(--color-Primary-Black-2);
    font-size: 1.8rem;
    font-weight: 600;
    padding-right: 1.6rem;


  }


  .left-banner .banner__content .p-cart {

    color: var(--color-Semantic-Red);
    font-size: 1.6rem;
    font-weight: 700;
    padding-left: 1.6rem;


  }


  .left-banner .banner__img {

    width: 100%;
    margin-top: 3.2rem;
    height: 48rem;


  }

  .left-banner .banner__btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  }

  .banner__btn {
    width: 100%;
    justify-content: space-between;

  }


  .btn--primary1 {
    margin-top: 4.8rem;
    margin-bottom: 3.2rem;
    width: 68%;
    height: 6.4rem;
    font-size: 1.6rem;
  }

  .btn--secondary1 {
    margin-top: 4.8rem;
    margin-bottom: 3.2rem;
    width: 30%;
    height: 6.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--color-Primary-white-1);
    color: var(--color-Primary-black-1);
  }


}

@media screen and (min-width:1600px) {

  .top__banners {
    padding: 0 6rem;
  }
}


/*Top Banners End*/


/*Products Nav*/

.product {
  margin-top: 4.8rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

.product .h-product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product .h-product .h1-product {
  font-size: 1.8rem;
  font-weight: 900;
  letter-spacing: -.1rem;
  margin-top: 2rem;
}

.product .h-product .l-product {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -.1rem;

}

.h-product .l-product>a {
  text-decoration: none;
  color: var(--color-Primary-Black-1);

}

.h-product .l-product .arrow {

  padding-right: .8rem;

}

.box {
  width: 100%;
  display: flex;
  height: auto;
}

/*Products Nav End*/


/*Products Cart*/
.p2-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 27.2rem;
  height: 40rem;
  background-color: var(--color-Primary-White-1);
  position: relative;
  margin-top: 1.6rem;
  margin-left: .8rem;
  margin-right: .8rem;

}

.img-size {
  width: 25.6rem;
  height: 30.2rem;
  object-fit: cover;

}

.cart-img {
  padding-top: .8rem;
}

.cart-img-suggest {
  border-radius: 216px 216px 0px 0px;
}

.p-size {
  width: 92%;
  height: 7.2rem;
  background-color: #ffffff91;
  bottom: 2rem;

}

.cart-content {
  display: flex;
  width: 100%;
  height: 7.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;



}

.p-product-content {
  width: 100%;
  height: 2.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 1.6rem;
  color: var(--color-Primary-Black-1);
}

.del2 {
  /* display: none; */
  width: 100%;
  font-size: 1.2rem;
  color: #acacac;

}

.number-font {
  display: none;
}

.price-cart {
  padding-left: 1.6rem;
  text-align: left;
  display: flex;
  margin-bottom: 1rem;
}

.number-price {
  text-align: left;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.1rem;
  width: 50%;

}

.cart-details {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-cart-details {
  display: none;
}


.product-color-cart {

  display: flex;
  flex-direction: row;
  margin-right: .8em;
  padding-bottom: 1.6rem;
  position: relative;
  top: 37rem;
}

.product-color-cart ul {
  display: flex;
  flex-direction: row;
}

.color {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin-right: .8rem;
}

.color1 {
  background-color: #923AEA;
}

.color2 {
  background-color: #EACE3A;
}

.color3 {
  background-color: #483AEA;
}

.color4 {
  background-color: #EA4B3A;
}

.active-color {
  width: 10px;
  height: 10px;
}


.cart-like {
  width: 4.8rem;
  height: 4.8rem;
  background-color: #ffffffa4;
  backdrop-filter: blur(88px);
  -webkit-backdrop-filter: blur(88px);
  position: absolute;
  z-index: 1;
  top: .8rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.cart-like .heart {
  width: 2rem;
  height: 2rem;

}

.cart-img {
  position: relative;
  object-fit: cover;
}

.cart-size {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.size-item {
  display: flex;
  flex-direction: row;
  background-color: #ffffffa8;
  backdrop-filter: blur(64px);
  -webkit-backdrop-filter: blur(64px);
  align-items: center;
  padding-top: 2rem;
  width: 100%;
  padding-left: 1.6rem;
  margin: auto;



}


.size-item li {
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
}

.size-item li p {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  color: var(--color-Primary-Black-2);

}

.cart-Badge-red {
  width: 8rem;
  height: 4.8rem;
  background-color: var(--color-Semantic-Red);
  color: var(--color-Primary-White-1);
  font-size: 1.2rem;
  position: absolute;
  bottom: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Responsive Products Cart*/
@media screen and (min-width:1200px) {
  .product {
    margin-top: 6rem;
    width: 100%;
    padding: 0 9rem;
  }

  .img-size {
    width: 40rem;
    height: 35rem;

  }

  .h-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.4rem;
  }

  .h-product .h1-product {
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: -.1rem;
  }

  .h-product .l-product {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -.1rem;

  }

  .h-product .l-product>a {
    text-decoration: none;
    color: var(--color-Primary-Black-1);

  }

  .h-product .l-product .arrow {
    padding-right: 1.6rem;
  }

  .p2-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 36.1rem;
    height: 52.2rem;
    background-color: var(--color-Primary-White-1);
    margin-bottom: 3.2rem;

  }

  .cart-img {
    width: 33rem;
    height: 48rem;
    padding-top: 1.6rem;
  }

  .p-size {
    width: 92%;
    height: 7.2rem;
    background-color: #ffffff91;
    bottom: 2rem;
  }

  .cart-content {
    display: flex;
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }

  .p-product-content {
    width: 60%;
    height: auto;
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 4.8rem;
    color: var(--color-Primary-Black-1);
  }


  .price-cart {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;
    margin-bottom: 5.8rem;
    padding-left: 0;
    position: relative;

  }

  .price {
    margin-right: 0;
  }

  .del2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #acacac;
    font-size: 12px;
    margin-right: 0px;
    padding-top: 1.6rem;
    position: relative;
  }

  .discount2 {
    color: #e91c41;
    font-size: 14px;
    line-height: 29px;
    font-family: YekanBakh;
    font-weight: 600;
    position: absolute;
    left: 30px;
    width: 11%;
  }

  .discount2::after {
    content: url(../icons/Subtract.png);
    width: 10px !important;
    height: 10px !important;
    margin-right: 3px;
  }



  .number-price {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: .8rem;
    letter-spacing: -.1rem;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
  }

  .number-font1 {
    position: absolute;
  }

  .cart-details {
    border-top: 1.5px solid var(--color-Primary-White-3);
    width: 94%;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 469px;
  }

  .color-ul {

    display: flex;
    justify-content: left;
    width: 100%;
    padding-left: 0;


  }

  .p-cart-details {
    padding-top: 1.2rem;
    margin-right: .8rem;
    font-size: 1.4;
    font-weight: 600;
    color: var(--color-Primary-White-6);
    display: flex;
    flex-direction: row;
    width: 40%;

  }

  .product-color-cart {

    margin-right: 0;
    top: 0;
    left: 0;
    margin-left: .8rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
  }


  .color {
    width: 12px;
    height: 12px;

  }



  .cart-like {
    width: 6.4rem;
    height: 6.4rem;
  }

  .cart-like .heart {
    width: 2.4rem;
    height: 2.4rem;

  }

  .cart-like {
    top: 1.6rem;
    left: 0;
  }

  .size-item {
    height: 7.2rem;
    width: 40rem;
    padding-top: 2rem;
    padding-right: 1rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(88px);
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
  }


  .size-item li {
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    width: 15%;
    display: flex;




  }



  .size-item li p {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    color: rgba(103, 103, 103, 1);

  }

  .cart-Badge-red {
    display: none;
  }
}

@media screen and (min-width:1400px) {

  .product {
    margin-top: 6rem;
    width: 100%;
  }

  .img-size {
    width: 40rem;
    height: 48rem;

  }

  .h-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 2.4rem;
  }

  .h-product .h1-product {
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: -.1rem;
  }

  .h-product .l-product {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: -.1rem;

  }

  .h-product .l-product>a {
    text-decoration: none;
    color: var(--color-Primary-Black-1);

  }

  .h-product .l-product .arrow {

    padding-right: 1.6rem;

  }

  .p2-cart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 43.2rem;
    height: 63.2rem;
    background-color: var(--color-Primary-White-1);

  }

  .cart-size {
    width: 100%;
    display: flex;
    justify-content: space-between;
    bottom: -16px;
    left: 0;
    visibility: hidden;





  }

  .size-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 3rem;
  }

  .size-item li {
    width: 15%;
    display: flex;
    font-size: 1.4rem;
    font-weight: 200;
  }

  .p2-cart:hover .cart-size {
    animation-duration: .5s;
    animation-name: slidein;
    visibility: visible;
    backdrop-filter: blur(88px);
  }

  @keyframes slidein {
    from {


      bottom: -30px;
      backdrop-filter: blur(88px);


    }

    to {
      bottom: -16px;
      backdrop-filter: blur(88px);




    }
  }


  .cart-img {
    width: 40rem;
    height: 48rem;
    padding-top: 1.6rem;
  }

  .p-size {
    width: 92%;
    height: 7.2rem;
    background-color: #ffffff91;
    bottom: 2rem;
  }

  .cart-content {
    display: flex;
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
  }

  .p-product-content {
    width: 60%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 4.8rem;
    color: var(--color-Primary-Black-1);
  }


  .price-cart {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 1.6rem;
    margin-bottom: 5.8rem;
    padding-left: 0;
    position: relative;

  }

  .price {
    margin-right: 0;
  }

  .del2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #acacac;
    font-size: 16px;
    margin-right: 0px;
    padding-top: 1.6rem;
    position: relative;
  }

  .discount2 {
    color: #e91c41;
    font-size: 16px;
    line-height: 29px;
    font-family: YekanBakh;
    font-weight: 600;
    position: absolute;
    left: 30px;
    width: 11%;
  }

  .discount2::after {
    content: url(../icons/Subtract.png);
    width: 14px !important;
    height: 14px !important;
    margin-right: 4px;
  }



  .number-price {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: .8rem;
    letter-spacing: -.1rem;
    margin-left: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
  }

  .number-font1 {
    position: absolute;
  }

  .cart-details {
    border-top: 1.5px solid var(--color-Primary-White-3);
    width: 94%;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 585px;
  }

  .color-ul {

    display: flex;
    justify-content: left;
    width: 100%;
    padding-left: 0;


  }

  .p-cart-details {
    padding-top: 1.2rem;
    margin-right: .8rem;
    font-size: 1.4;
    font-weight: 600;
    color: var(--color-Primary-White-6);
    display: flex;
    flex-direction: row;
    width: 40%;

  }

  .product-color-cart {

    margin-right: 0;
    top: .8rem;
    left: 0;
    margin-left: .8rem;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 60%;
  }


  .color {
    width: 12px;
    height: 12px;

  }



  .cart-like {
    width: 6.4rem;
    height: 6.4rem;
  }

  .cart-like .heart {
    width: 2.4rem;
    height: 2.4rem;

  }

  .cart-like {
    top: 1.6rem;
    left: 0;
  }



  .size-item {
    height: 7.2rem;
    width: 40rem;
    padding-top: 2rem;
    padding-right: 1rem;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.64);
    backdrop-filter: blur(88px);
  }


  .size-item li {
    align-items: center;
    justify-content: center;
    padding-right: 2rem;



  }

  .size-item li p {
    width: 100%;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    color: var(--color-Primary-Black-2);

  }

  .cart-Badge-red {
    display: none;
  }


}

@media screen and (min-width:1600px) {

  .product {
    padding: 0 6rem;
  }

}

/*Products End*/

/*Cart slider*/

.cart-slider {
  width: 100%;
  height: auto;
  padding-right: 1rem;

}

@media screen and (min-width:1024px) {

  .cart-slider {

    height: auto;
    padding-right: 6rem;
  }

  .zz {
    margin-left: 200px;
  }
}

@media screen and (min-width:1500px) {

  .cart-slider {
    height: auto;
    padding-right: 5%;
  }
}

@media screen and (min-width:1600px) {

  .cart-slider {
    height: auto;
    padding-right: 6%;
  }
}

@media screen and (min-width:1700px) {
  .cart-slider {
    height: auto;
    padding-right: 8%;
  }
}

@media screen and (min-width:1800px) {

  .cart-slider {

    height: auto;
    padding-right: 11%;

  }
}

@media screen and (min-width:1900px) {

  .cart-slider {
    height: auto;
    padding-right: 13%;
  }
}

@media screen and (min-width:2000px) {

  .cart-slider {
    height: auto;
    padding-right: 15%;
  }
}

/*Cart slider End*/


/*-- sggest set start --*/

.suggest {
  width: 100%;
  height: 7.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  background-color: var(--color-Primary-White-3);
}

.suggest-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;


}

.suggest-background-color {
  background-color: var(--color-Primary-White-1);
}

.suggest-nav .logo-h {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
}

.suggest-nav .Brand-logo-black {
  width: 6.4rem;
  padding-right: 1rem;
  margin-right: 3rem;
}

.suggest-nav .logo-h .h-suggest {
  font-size: 1.6rem;
  color: var(--color-Primary-White-6);
}

.suggest-btn-right {

  width: 11rem;
  height: 4rem;
  background-color: var(--color-Primary-White-1);
  color: var(--color-Primary-Black-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 7rem;
}

.suggest-btn-left {

  width: 11rem;
  height: 4rem;
  background-color: var(--color-Primary-Black-1);
  color: var(--color-Primary-white-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 7rem;
  text-decoration: none;
}

.right-botton .suggest-btn-left>a {
  color: var(--color-Primary-White-1);
  text-decoration: none;



}

.arrow2 {
  margin-right: .8rem;
}

.cart-Badge-red-suggest {
  width: 8rem;
  height: 4.8rem;
  background-color: var(--color-Semantic-Red);
  color: var(--color-Primary-White-1);
  font-size: 1.2rem;
  position: relative;
  bottom: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*-- sggest set Responsive --*/

@media screen and (min-width:1024px) {
  .suggest {
    width: 100%;
    height: 10.2rem;
    padding: 0 10rem;
    margin-top: 10.2rem;
  }




  .suggest-nav .Brand-logo-black {
    width: 8.8rem;
    margin-right: 10rem;
  }

  .suggest-nav .logo-h .h-suggest {
    font-size: 2.4em;
    color: var(--color-Primary-Black-2);
    padding-right: 2rem;
    font-weight: 400;
  }

  .suggest-btn-right {

    width: 20.8rem;
    height: 6.4rem;
    background-color: var(--color-Primary-White-1);
    color: var(--color-Primary-Black-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 7rem;
  }

  .suggest-btn-left {

    width: 20.8rem;
    height: 6.4rem;
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-white-1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 10rem;
    text-decoration: none;
  }

  .arrow2 {
    width: 2.9rem;
  }

  .cart-Badge-red-suggest {
    width: 6.4rem;
    height: 6.4rem;
    background-color: var(--color-Semantic-Red);
    color: var(--color-Primary-White-1);
    font-size: 1.8rem;
    position: relative;
    bottom: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


}


.suggest-cart {
  margin-top: 12rem;
  height: auto;
}

.suggest-cart-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 27.2rem;
  height: 40rem;
  background-color: var(--color-Primary-White-1);
  margin: 1rem;
  border-radius: 21.6rem 21.6rem 0 0;

}


.cart-like-suggest {
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--color-Primary-White-4);
  backdrop-filter: blur(88px);
  display: flex;
  align-items: center;
  justify-content: center;

}

.suggest-cart-img {
  width: 27.2rem;
  height: 87%;
  border-radius: 21.6rem 21.6rem 0 0;
}


.suggest-cart-img img {
  width: 27.2rem;
  height: 40rem;
  object-fit: cover;
  border-radius: 21.6rem 21.6rem 0 0;

}

.suggest-img {
  border-radius: 21.6rem 21.6rem 0 0;
}

.suggest-content {
  height: 12%;
  background-color: var(--color-Primary-White-3);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.suggest-cart-details {
  width: 85%;
  padding-top: 1.6rem;
  padding-right: 1.6rem;

}

.suggest-cart-product2 {

  background-color: var(--color-Primary-White-1);
  margin: 1rem;
  border-radius: 21.6rem 21.6rem 0 0;
  border: 1.5px solid var(--color-Primary-White-3);

}

.cart-content {
  background-color: var(--color-Primary-White-1) !important;
}

.cart-size2 {
  bottom: 6.4rem;
}



.cart-img2 {
  width: 40rem;
  height: 48rem;
  padding-top: 1.6rem;
}


@media screen and (min-width:1024px) {

  .suggest-cart-product {
    width: 27.2rem;
    height: 40rem;
    background-color: var(--color-Primary-White-1);
    border-radius: 216px 216px 0px 0px;
  }


  .cart-like-suggest {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-Primary-White-4);
    backdrop-filter: blur(88px);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .suggest-cart-img {
    width: 27.2rem;
  }

  .suggest-cart-img img {
    width: 27.2rem;
    height: 40rem;
    object-fit: cover;
    border-radius: 21.6rem 21.6rem 0 0;
  }

  .suggest-content {
    height: 13%;
    background-color: var(--color-Primary-White-3);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;

  }

  .suggest-cart-details {
    width: 85%;
    padding-top: 2rem;
    padding-right: 1.6rem;

  }

}

@media screen and (min-width:1200px) {

  .suggest-cart-product {
    width: 36.1rem;
    height: 52.2rem;
    background-color: var(--color-Primary-White-1);
    border-radius: 216px 216px 0px 0px;
  }

  .suggest-cart-img {
    width: 36.1rem;
  }

  .suggest-cart-img img {
    width: 36.1rem;
    height: 52.2rem;
    object-fit: cover;
    border-radius: 21.6rem 21.6rem 0 0;


  }

  .cart-Badge-red-suggest {

    bottom: 132px;

  }
}

@media screen and (min-width:1400px) {

  .suggest-nav {
    padding: 0 9rem;
  }

  .suggest-cart-product {
    width: 43.2rem;
    height: 63.2rem;
    background-color: var(--color-Primary-White-1);
    border-radius: 216px 216px 0px 0px;
  }

  .suggest-cart-img {
    width: 43.2rem;
  }

  .suggest-cart-img img {
    width: 43.2rem;
    height: 63.2rem;
    object-fit: cover;
    border-radius: 21.6rem 21.6rem 0 0;


  }

  .suggest-content {
    height: 10%;
  }

  .cart-like-suggest {
    width: 6.2rem;
    height: 6.2rem;
    background-color: var(--color-Primary-White-4);
    backdrop-filter: blur(88px);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .cart-Badge-red-suggest {

    bottom: 128px;

  }
}

@media screen and (min-width:1700px) {

  .suggest-nav {

    padding: 0 9rem;

  }

  .cart-Badge-red-suggest {

    bottom: 127px;

  }
}

@media screen and (min-width: 1900px) {
  .suggest-nav {
    padding: 0 16rem;
  }

}

@media screen and (min-width: 2000px) {
  .suggest-nav {
    padding: 0 21rem;
  }

}

/*-- sggest set End --*/

/* 50%--OFF start*/

.OFF-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 12rem;

}

.OFF-Banner-right {
  width: 60%;
  height: auto;
  position: relative;
}

.OFF-Banner-left {
  width: 40%;
  height: auto;
  position: relative;
}

.OFF-Banner-right-img {
  width: 100%;
  height: 27.4rem;
  object-fit: cover;


}

.content {
  position: relative;
  z-index: 11;

}

.content img {
  display: block;
}

.content:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.397) 11.93%, rgba(0, 0, 0, 0) 100%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.OFF-Banner-left-img {
  width: 100%;
  height: 13.7rem;
  object-fit: cover;
}

.OFF-Banner-left-content {
  position: relative;
}

.p1-banner-off {
  position: absolute;
  color: var(--color-Primary-White-1);
  bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 800;
  padding-right: 1.6rem;
  bottom: 2rem;
  z-index: 12;



}

.p2-banner-off {
  position: absolute;
  color: var(--color-Primary-White-6);
  bottom: 0rem;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  z-index: 10;

}

.p2-banner-off-left {
  position: absolute;
  color: var(--color-Primary-White-6);
  top: 8rem;
  font-size: 1rem;
  font-weight: 400;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  z-index: 10;

}

.badge {
  position: absolute;
  width: 8rem;
  height: 4rem;
  background-color: var(--color-Semantic-Red);
  color: var(--color-Primary-White-1);
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  top: 0;
  right: 0;
  z-index: 12;
}

.badge2 {
  position: absolute;
  width: 8rem;
  height: 4rem;
  background-color: var(--color-Semantic-Red);
  color: var(--color-Primary-White-1);
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0%;
  bottom: 7.8rem;
  right: 0;
  z-index: 12;

}

.p1-banner-off-top {
  width: 100%;
  position: absolute;
  color: var(--color-Primary-White-1);
  bottom: 13rem;
  font-size: 1.2rem;
  font-weight: 800;
  padding-right: 1.6rem;


}

.p2-banner-off-top {
  width: 100%;
  position: absolute;
  color: var(--color-Primary-White-6);
  top: 7rem;
  font-size: 1rem;
  font-weight: 400;
  padding-right: 1.6rem;
}

.off-banner-buttom {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 4.8rem;
}

.off-banner-buttom-img {
  width: 100%;
}


/* 50%--OFF Responsive*/


@media screen and (min-width:768px) {


  .OFF-Banner-right-img {
    width: 100%;
    height: 72rem;
    object-fit: cover;
  }

  .OFF-Banner-left-img {
    width: 100%;
    height: 36rem;
    object-fit: cover;
  }

  .p1-banner-off {

    bottom: 12rem;
    right: 6rem;
    font-size: 2.4rem;
    font-weight: 800;



  }

  .p2-banner-off {
    bottom: 7rem;
    right: 6rem;
    font-size: 1.6rem;
    font-weight: 400;

  }

  .p2-banner-off-left {
    top: 22rem;
    right: 6rem;
    font-size: 1.6rem;
    font-weight: 400;

  }


  .badge {
    width: 9.6rem;
    height: 9.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    top: 0;
    right: 9rem;
  }

  .off-banner-buttom {
    width: 100%;
    margin: 4.8rem 0;
  }

}



/* 50%--OFF End*/