/*Reset*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/*root variable*/
:root {
    --color-Primary-White-1: rgba(255, 255, 255, 1);
    --color-Primary-White-2: rgba(248, 248, 248, 1);
    --color-Primary-White-3: rgba(238, 238, 238, 1);
    --color-Primary-White-4: rgba(224, 224, 224, 1);
    --color-Primary-White-5: rgba(204, 204, 204, 1);
    --color-Primary-White-6: rgba(172, 172, 172, 1);

    --color-Primary-Black-1: rgba(0, 0, 0, 1);
    --color-Primary-Black-2: rgba(103, 103, 103, 1);
    --color-Primary-Black-3: rgba(74, 74, 74, 1);
    --color-Primary-Black-4: rgba(58, 58, 58, 1);
    --color-Primary-Black-5: rgba(44, 44, 44, 1);
    --color-Primary-Black-6: rgba(31, 31, 31, 1);

    --color-Semantic-Green: rgba(50, 205, 140, 1);
    --color-Semantic-Red: rgba(233, 28, 65, 1);
}

html {
    font-size: 62.5%;
}

body {

    font-size: 1.2rem;
    background-color: var(--color-Primary-White-2);
    overflow-x: hidden !important;
}

#menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(62, 153, 228, 0.2);
    border: none;
    opacity: 0;

    /* opacity: 0;
    visibility: hidden; */
}

.sidebar {
    position: fixed;
    width: 340px;
    height: 650px;
    /* right:0; */
    top: 162px;
    bottom: 0;
    padding: 3.2rem;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    z-index: 1;


}



.sidebar-container {
    width: 100%;
    height: 100%;
    padding: 2rem 3rem 5rem 3rem;
    background-color: var(--color-Primary-White-1);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.09);
}

.avatar-img img {
    width: 78px;
    height: 78px;
}

.sidebar-avatar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 4rem;
    border-bottom: 1px solid #EEEEEE;
    padding-top: 3.4rem;

}

.sidebar-avatar p {
    margin-bottom: 0;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    padding-bottom: .4rem;

}

.sidebar-avatar small {
    font-weight: 200;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #ACACAC;



}

.avatar-text {
    padding-right: .8rem;
}

.sidebar-menu {
    margin-top: 4rem;
}

.sidebar-menu li {
    padding-bottom: 2.4rem;
}

.sidebar-menu li a {
    color: #676767;
}

.active-menu span {
    color: #000000;
    font-weight: 900;
}

.active-menu svg {
    fill: #000000 !important;
}

.sidebar-menu svg {
    fill: #676767;
}



.sidebar-menu svg {
    fill: #676767;
}

.sidebar-menu span {
    padding-right: 1rem;
}

.log-out-menu {
    margin-top: 9.2rem;
    padding-top: 3.2rem;
    border-top: 1px solid #EEEEEE;
}

.bn {
    height: 100vh;
}

.main-content {
    margin-right: 340px;
    padding: 2rem;
    margin-top: 95px;
    height: 100%;
    padding-bottom: 10rem;
    background-color: var(--color-Primary-White-1);
}

.hamber {
    display: flex;
}

.hamber-text p {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-right: .8rem;
}


.address-content-text {
    border-bottom: 1px solid #EEEEEE;

}

.address-content-text p {
    font-weight: 600;
    font-size: 18px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-right: 9rem;
    padding-top: 3rem;


}


.add-text {
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-right: 9rem;
    padding-top: 2.4rem;
    border-bottom: 1px solid #EEEEEE;
}

.add-text a {
    color: #000000;
}

.more-address {
    text-align: left;
}

.more-address svg {
    cursor: pointer;
}

.address-detils2 {
    padding: 1.6rem 9rem 3rem 1rem;
    border-bottom: 1px solid #EEEEEE;
}

.address-detils2 li {
    padding-bottom: 2.4rem;
}

.address-detils2 span {
    font-weight: 600;
    font-size: 16px;
    line-height: 180%;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    padding-right: .8rem;


}

.address-detils-3 {
    color: #ACACAC !important;
    font-weight: 400 !important;
}

.edit-address a {
    color: #000;
}

.address-content-text::before {
    /* content: '';
    width: 150px;
    height: 2px;
    background-color: var(--color-Primary-Black-1);
    position: absolute;
    bottom: 0;
    right: 680px;
    top:290px */
}

.active-menu ::before {
    content: '';
    width: 3px;
    height: 30px;
    background-color: var(--color-Primary-Black-1);
    position: absolute;
    bottom: 0;
    right: 32px;
    top: 254px
}
@media screen and (min-width: 1024px) {
    .active-menu ::before {
        content: '';
        width: 3px;
        height: 30px;
        background-color: var(--color-Primary-Black-1);
        position: absolute;
        bottom: 0;
        right: 32px;
        top: 240px
    }
}


.active-menu2 span {
    color: #000000;
    font-weight: 900;
}

.active-menu2 svg {
    fill: #000000 !important;
}

.active-menu2 ::before {
    content: '';
    width: 3px;
    height: 30px;
    background-color: var(--color-Primary-Black-1);
    position: absolute;
    bottom: 0;
    right: 32px;
    top: 285px
}

.active-menu3 span {
    color: #000000;
    font-weight: 900;
}

.active-menu3 svg {
    fill: #000000 !important;
}

.active-menu3 ::before {
    content: '';
    width: 3px;
    height: 30px;
    background-color: var(--color-Primary-Black-1);
    position: absolute;
    bottom: 0;
    right: 32px;
    top: 352px
}

@media screen and (min-width: 1024px) {
    .active-menu3 ::before {

        content: '';
        width: 3px;
        height: 30px;
        background-color: var(--color-Primary-Black-1);
        position: absolute;
        bottom: 0;
        right: 32px;
        top: 332px
    }
}

.active-menu4 span {
    color: #000000;
    font-weight: 900;
}

.active-menu4 svg {
    fill: #000000 !important;
}

.active-menu4 ::before {
    content: '';
    width: 3px;
    height: 30px;
    background-color: var(--color-Primary-Black-1);
    position: absolute;
    bottom: 0;
    right: 32px;
    top: 380px
}


.sidebar-avatar::before {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 100px;
    border: 1px solid #fff;
    background-color: var(--color-Semantic-Green);
    position: absolute;
    bottom: 0;
    right: 64px;
    top: 111px
}


.close-side {
    text-align: left;
}

/* Style the tab */
.tab {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #EEEEEE;
    padding-right: 9rem;
    display: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    margin-left: 3rem;
    color: #ACACAC;
    ;

}

/* Change background color of buttons on hover */
.tab button:hover {}

/* Create an active/current tablink class */
.tab button.active {
    border-bottom: 1px solid #000000;
    color: rgb(0, 0, 0);
    font-weight: 400;
}


/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

.btn-num {
    background-color: #CCCCCC;
    color: rgb(0, 0, 0);
    padding: .7rem 1rem;
    border-radius: 100%;
    margin-left: .8rem;
}

.deliver-icon {
    background-color: var(--color-Semantic-Green);
    padding: .4rem .8rem;
    border-radius: 100%;
    margin-left: .8rem;
}

.cancel-icon {
    background-color: var(--color-Semantic-Red);
    padding: .4rem .7rem .4rem .4rem;
    border-radius: 100%;
    margin-left: .8rem;
}

.Awaiting-Payment {
    padding: 1rem 1rem 5rem 1rem;
    width: 100%;
}



.Awaiting-Payment-details {
    padding-right: 1.6rem;
    padding-top: 2.4rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EEEEEE;
}

.Awaiting-Payment-text p {
    font-weight: 200;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #FF9921;
    padding-right: .8rem;

}

.gray {
    color: #676767 !important;
}

.green {
    color: var(--color-Semantic-Green) !important;
}

.red {
    color: var(--color-Semantic-Red) !important;
}

.Awaiting-Payment-btn {
    padding: .8rem 8rem;
    border: 1px solid #000000;
    background-color: #fff;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #000000;
}

.Awaiting-Payment-btn:hover {
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.Awaiting-Payment-details2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Awaiting-Payment-details2 p {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #676767;
    padding-right: 1.6rem;
}

.Awaiting-Payment-details2 span {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
}

.Favortit-list {
    display: flex;
    align-items: center;
    width: 100%;

}

.Favortit-list-details {
    padding-top: 2.4rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #EEEEEE;
    flex-direction: column;
}

.Favortit-list-item {
    padding-right: 0.8rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 2rem;
}

.Favortit-list-details2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.Favortit-list-details2 p {
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #676767;
    padding-right: 1.6rem;
}

.Favortit-list-details2 span {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
}

.fav-img2 img {
    width: 93px;
    height: 94px;
    object-fit: cover;
}

.Favortit-Payment-btn {
    padding: 1rem 5rem;
    border: 1px solid #000000;
    background-color: #fff;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #000000;
    width: 100%;
}

.Favortit-Payment-btn:hover {
    border: 1px solid #000000;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #ffffff;
}

.radio-info {
    background-color: #fff !important;
}

.my-input {
    background: #EEEE !important;
    border-radius: 0 !important;
    padding: 2.4rem 1rem !important;
    border: 0 !important;
    font-size: 1.4rem !important;
}

.form-cart-info {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.form-cart-info p {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
}

.form-cart-info small {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #676767;

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.form-detils2 {
    padding: 1.6rem 1rem 3rem 1rem;
}

.ra-i p {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 0;
}

.add-commnet-btn4 {
    background: #000000;
    border: 1px solid #000000;
    color: #fff !important;
    padding: 1.6rem 4rem;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.02em;
    width: 100%;
}

.add-commnet-btn4:hover {
    background: #ffffff;
    border: 1px solid #000000;
    color: rgb(0, 0, 0) !important;

}

.submit-and-exit {
    width: 48%;
}

.submit-and-exit-btn {
    width: 100%;
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 1.6rem 1rem;
    border: 1px solid #000;

}

.submit-and-exit-btn:hover {
    background-color: var(--color-Primary-White-1);
    color: var(--color-Primary-Black-1-1);
    border: 1px solid var(--color-Primary-Black-1);

}

.exit-btn-green {
    width: 100%;
    background-color: var(--color-Semantic-Green);
    color: var(--color-Primary-White-1);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 1.6rem 1rem;
    border: 1px solid var(--color-Semantic-Green);

}

.exit-btn-green:hover {
    background-color: var(--color-Primary-White-1);
    color: var(--color-Semantic-Green);
    border: 1px solid var(--color-Semantic-Green);

}

.cancel-btn {
    width: 100%;
    background-color: var(--color-Primary-White-1);
    color: var(--color-Primary-Black-1);
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 1.6rem 1rem;
    border: 1px solid #000;
}

.cancel-btn:hover {
    background-color: var(--color-Primary-Black-1);
    color: var(--color-Primary-White-1);
    border: 1px solid #000;
}

.cancel-btn-div {
    width: 48%;

}


.container-upload {
    height: 233px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    margin-bottom: 8rem;
}

.card {
    width: 100%;
    height: 260px;
    background-color: #EEEEEE;
    ;
    padding: 10px;
}

.card h3 {
    font-size: 22px;
    font-weight: 600;

}

.drop_box {
    margin: 10px 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drop_box h4 {
    font-size: 16px;
    font-weight: 400;
    color: #2e2e2e;
}

.drop_box p {
    margin-top: 56px;
    margin-bottom: 20px;

    font-size: 12px;
    color: #a3a3a3;
}

.btn-upload {
    width: 100%;
    text-decoration: none;
    background-color: #000000;
    color: #ffffff;
    padding: 16px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
    font-size: 1rem;
    cursor: pointer;

}

.btn-upload:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 16px 20px;
    border: none;
    outline: 1px solid #000000;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.vff {
    position: relative;
    top: 38px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-preview {
    position: absolute;
    top: 0;

}

.img-preview {
    width: 70px;
    height: 77px;
    object-fit: cover;
    margin-top: 1rem;
}

.ddl-select {
    visibility: hidden;
}

.ddl {
    position: relative;
    height: 50px;
    width: 100%;
    text-align: initial;
}

.ddl-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 16px 24px;
    outline: none;
    background: #EEEE;
    border: 1px solid var(--color-Primary-White-2);

}

.ddl.active .ddl-options {
    visibility: visible;
    opacity: 1;
}

.ddl .ddl-options {
    position: absolute;
    width: 100%;
    top: 55px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    z-index: 999;
    border: 1px solid #e9e9e9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.10);
}

.ddl .ddl-options>div {
    padding: 10px 20px;
    cursor: pointer;
}

.ddl .ddl-options>div:hover {
    background: var(--bs-primary);
    color: #fff;
}

.code-date {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EEEEEE;
    flex-wrap: wrap;
}

.code-date p {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    font-weight: 400;
    text-align: right;
    letter-spacing: -0.02em;
    color: #676767;
}

.code-date span {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    margin-bottom: 1.6rem;
    font-weight: 400;
    text-align: right;
    letter-spacing: -0.02em;
    color: #000000;
}

.submit-comment-dashboard {
    font-weight: 400;
    font-size: 16px;
    text-align: right;
    letter-spacing: -0.02em;
    color: #32CD8C;

}

.submit-comment-dashboard:hover {
    color: #32CD8C;
}

.submit-comment-container {
    width: 100%;
    text-align: right;
    padding: 0 3rem;
}

.dropbtn {
    background: #ffffff;
    color: white;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: #ffffff;
    max-width: 198px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.09);
    left: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background: #f2f2f2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: #ffffff;
}

.bg-drop {
    border-top: 1px solid #EEEEEE;
    ;
    padding: 3rem .8rem .8rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.mn {
    border-bottom: 1px solid #EEEEEE;

}
.ml-2{
    margin-left: 1rem;
    width: 50% !important;
}

.form-control-style-Favortit{
    background-color: #ffff !important;
    border-radius: 0 !important;
    padding: 2.4rem 1rem !important;
    border: 0 !important;
    font-size: 1.4rem !important;
    display: flex;

}

@media screen and (min-width: 1024px) {
    .ml-2{
        width: 78% !important;
    }

    .sidebar-avatar::before {
       
        top: 95px
    }
    .hamber {
        display: none;
    }

    .close-side {
        display: none;
    }

    .sidebar-container {

        box-shadow: none;
    }

    .tab {

        display: flex;
    }

    .Awaiting-Payment-dropdown {
        display: none;
    }

    .Awaiting-Payment img {
        width: 81px;
        height: 103px;
        object-fit: cover;
    }

    .fav-img img {
        width: 81px;
        height: 103px;
        object-fit: cover;
    }

    .tab {

        padding-right: 0rem;

    }

    .Favortit-list-details {
        padding-right: 1.6rem;
        padding-top: 2.4rem;
        padding-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #EEEEEE;
        flex-direction: row;
    }

    .Favortit-list-details2 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
    }

    .Favortit-list-details2 p {
        font-size: 18px;

    }

    .Favortit-list-details2 span {
        font-size: 18px;

    }

    .fav-img2 img {
        width: 96px;
        height: 121px;
        object-fit: cover;
    }

    .Favortit-Payment-btn {
        padding: 1.6rem 5rem;
        border: 1px solid #000000;
        background-color: #fff;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: #000000;
        width: 40%;
    }

    .form-detils2 {
        padding: 1.6rem 9rem 3rem 9rem;
    }

    .submit-and-exit {
        width: 78%;
    }

    .cancel-btn-div {
        width: 20%;

    }

    .submit-and-exit-btn {
        font-size: 16px;
    }

    .cancel-btn {
        font-size: 16px;
    }

    .btn-upload {
        width: 60%;
        text-decoration: none;
        background-color: #000000;
        color: #ffffff;
        padding: 16px 20px;
        border: none;
        outline: none;
        transition: 0.3s;
        font-size: 1.6rem;

    }

    .exit-btn-green {
        width: 40%;
        background-color: var(--color-Semantic-Green);
        color: var(--color-Primary-White-1);
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        letter-spacing: -0.02em;
        padding: 1.6rem 1rem;
        border: 1px solid var(--color-Semantic-Green);

    }

    .r-flex {
        display: flex;
        flex-direction: row !important;
    }

    .code-date {
        padding: 1rem 9rem;
        flex-direction: row;
    }

    .code-date p {
        font-size: 1.8rem;
        margin-bottom: 1.6rem;
        font-weight: 400;
        text-align: right;
        letter-spacing: -0.02em;
        color: #676767;
        padding-top: 1rem;
        padding-left: 5.4rem;
    }

    .code-date span {
        font-size: 1.8rem;
        margin-bottom: 1.6rem;
        margin-bottom: 1.6rem;
        font-weight: 400;
        text-align: right;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .submit-comment-container {
        width: 100%;
        text-align: left;
        padding-left: 9rem;
    }

    .civ {
        padding: 0 3rem;
    }








}

@media screen and (max-width: 1024px) {


    .sidebar {
        display: none;
        top: 87px;
        right: 0;
    }





    .main-content {
        margin-right: 0;
    }

    .Awaiting-Payment {
        display: none;
    }

    .Awaiting-Payment-details {
        padding-right: .8rem;
        padding-top: 1rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

    }

    .fav-img img {
        width: 83px;
        height: 84px;
        object-fit: cover;
    }

    .Awaiting-Payment-details2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
    }

    .Awaiting-Payment-details2 p {
        font-weight: 400;
        font-size: 12px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #676767;
        padding-right: 1.6rem;
        padding-top: 1rem;
        margin-bottom: 0;
    }

    .Awaiting-Payment-text p {
        font-weight: 200;
        font-size: 10px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #FF9921;
        padding-right: 1.6rem;
        margin-bottom: 0;
    }

    .Awaiting-Payment-details2 span {
        font-weight: 400;
        font-size: 14px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #000000;
    }

    .bg-drop {
        border-top: 1px solid #EEEEEE;
        ;
        padding: 3rem .8rem .8rem .8rem;
        display: flex;
        justify-content: space-between;
    }

    .main-content {
        margin-right: 0;
        padding: 3rem .8rem;
    }

    .Awaiting-Payment-text svg {
        display: none;
    }

    .Awaiting-Payment-btn {
        width: 100%;

    }

    .cart-m {
        padding-bottom: 2.4rem;
        border-bottom: 1px solid #EEEEEE;
    }

    .m-ul {
        padding: 0 !important;
    }
}

@media screen and (max-width: 576px) {
    .address-detils2 {
        padding: 1.6rem 3rem 3rem 1rem;
        border-bottom: 1px solid #EEEEEE;
    }

    .address-content-text p {
        font-weight: 600;
        font-size: 14px;
        text-align: right;
        letter-spacing: -0.02em;
        color: #000000;
        padding-right: 3rem;
        padding-top: 3rem;
    }

    .add-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        text-align: right;
        letter-spacing: -0.02em;
        color: #000000;
        padding-right: 3rem;
        padding-top: 2.4rem;
        border-bottom: 1px solid #EEEEEE;
    }

    .address-detils2 span {
        font-size: 12px;
        padding-right: 0.8rem;
    }

    .main-content {

        margin-top: 53px;

    }

    .sidebar {
        display: none;
        top: 40px;
        right: -350px;
    }

    .active-menu2 ::before {
        content: '';
        width: 3px;
        height: 30px;
        background-color: var(--color-Primary-Black-1);
        position: absolute;
        bottom: 0;
        right: 32px;
        top: 303px;
    }

    .active-menu4 ::before {
        content: '';
        width: 3px;
        height: 30px;
        background-color: var(--color-Primary-Black-1);
        position: absolute;
        bottom: 0;
        right: 32px;
        top: 398px;
    }

    .Awaiting-Payment-details {

        border-bottom: none;
    }
}