@font-face{
    font-family: "YekanBakh";
    font-weight: 400;
    font-style: normal;
    src:  url("../fonts/YekanBakh-Regular.woff2"),
          url("../fonts/YekanBakh-Regular.woff"),
          url("../fonts/YekanBakh-Regular.otf"),
          url("../fonts/YekanBakh-Regular.ttf");

}

@font-face{
    font-family: "YekanBakh";
    font-weight: 600;
    font-style: normal;
    src:  url("../fonts/YekanBakh-SemiBold.woff2"),
          url("../fonts/YekanBakh-SemiBold.woff"),
          url("../fonts/YekanBakh-SemiBold.otf") ,
          url("../fonts/YekanBakh-SemiBold.ttf");
}
@font-face{
    font-family: "YekanBakh-SemiBold";
    font-weight: 600;
    font-style: normal;
    src:  url("../fonts/YekanBakh-SemiBold.woff2"),
          url("../fonts/YekanBakh-SemiBold.woff"),
          url("../fonts/YekanBakh-SemiBold.otf") ,
          url("../fonts/YekanBakh-SemiBold.ttf");
}

@font-face{
    font-family: "YekanBakh";
    font-weight: 700;
    font-style: normal;
    src:  url("../fonts/YekanBakh-Bold.woff2"),
          url("../fonts/YekanBakh-Bold.woff"),
          url("../fonts/YekanBakh-Bold.otf") ,
          url("../fonts/YekanBakh-Bold.ttf");
}

@font-face{
    font-family: "YekanBakh-NumberFont";
    font-weight: 700;
    font-style: normal;
    src:  url("../fonts/YekanBakhFaNum-Regular.otf"),
          url("../fonts/YekanBakh-Black.ttf"),
          url("../fonts/YekanBakhFaNum-Regular.woff") ,
          url("../fonts/YekanBakh-ExtraBlack.woff2");
}

@font-face{
    font-family: "YekanBakh-Bold";
    font-weight: 700;
    font-style: normal;
    src:  url("../fonts/YekanBakh-Bold.woff2"),
          url("../fonts/YekanBakh-Bold.woff"),
          url("../fonts/YekanBakh-Bold.otf") ,
          url("../fonts/YekanBakh-Bold.ttf");
}

@font-face{
    font-family: "YekanBakh";
    font-weight: 800;
    font-style: normal;
    src:  url("../fonts/YekanBakh-ExtraBold.woff2"),
          url("../fonts/YekanBakh-ExtraBold.woff"),
          url("../fonts/YekanBakh-ExtraBold.otf") ,
          url("../fonts/YekanBakh-ExtraBold.ttf");
}

@font-face{
    font-family: "YekanBakh";
    font-weight: 900;
    font-style: normal;
    src:  url("../fonts/YekanBakh-Black.woff2"),
          url("../fonts/YekanBakh-Black.woff"),
          url("../fonts/YekanBakh-Black.otf") ,
          url("../fonts/YekanBakh-Black.ttf");
}

   
body ,
button{
    font-family:'YekanBakh';
}